{extend name="base" /}
{block name="body"}
<div class="amain-body page-order-list">

    <!--tab标签-->
    <div class="layui-tab ">

        <ul class="  amain-tool-bar" >
            <li class="layui-this"><a href="{:url('admin/ScoreLottery/index')}"  showloading >抽奖情况</a></li>

        </ul>

        <div class="amain-content">
          <form class="layui-form layui-form-pane" id="filter-form" action="{:url('admin/ScoreLottery/index')}" method="get" onsubmit="submitForm()">
              <div class="layui-inline">
                  <label class="layui-form-label">检索</label>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_prize]" value="{$filter['keyword_prize'] ? $filter['keyword_prize'] :''}" placeholder="奖品名" class="layui-input">
                  </div>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_user]" value="{$filter['keyword_user'] ? $filter['keyword_user'] :''}" placeholder="用户名|账号|电话" class="layui-input" style="width:140px" >
                  </div>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_dept]" value="{$filter['keyword_dept'] ? $filter['keyword_dept'] :''}" placeholder="分厂|部门" class="layui-input" style="width:100px" >
                  </div>
                  <div class="layui-input-inline">
                  <select name="result"  >
                    <option value="all" >状态 - 不限</option>
                    <option value="0" {php}echo is_numeric($result) &&  $result==0 ? 'selected' : ''; {/php}>未开奖</option>
                    <option value="-1" {php}echo is_numeric($result) &&  $result==1 ? 'selected' : ''; {/php}>未中奖</option>
                    <option value="gt_0" {php}echo $result=='gt_0' ? 'selected' : ''; {/php}>中奖</option>
                  </select>
                  </div>

              </div>
              <!-- <div class="blank10">  </div> -->
              <div class="layui-inline">
                  <div class="layui-input-inline">
                    <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="时间范围" value="{$filter['time'] ? $filter['time'] :''}"  style="width:180px" autocomplete="off">
                  </div>
              </div>

              <div class="layui-inline">
                  <input type="hidden" name="type" value="{$type}">
                  <button class="layui-btn"><i class="fa fa-search"></i></button>
              </div>
          </form>

          <hr>

          <div class="layui-tab amain-content-tab" >

            <div class="tab-title-wrapper">
              <ul class="layui-tab-title">
                <li <?php echo !isset($type) || $type==="" || $type==="all" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeType('all')" href="javascript:void(0);" >全部</a></li>
                <li <?php echo is_numeric($type) &&  $type==1 ? 'class="layui-this"' : '' ; ?> ><a onclick="changeType(1)" href="javascript:void(0);" >实物抽奖</a></li>
                <li <?php echo is_numeric($type) &&  $type==0 ? 'class="layui-this"' : '' ; ?> ><a onclick="changeType(0)" href="javascript:void(0);" >转盘抽奖</a></li>
              </ul>

            </div>




            <div class="layui-tab-content" style="margin:0 -10px">
              <div class="layui-tab-item layui-show">
                <div class="order-list">
                  <form class="layui-form lottery-table-list-wrapper" >
                    <blockquote class="layui-elem-quote">共检得 <b>{$lists->total()}</b> 条数据</blockquote>

                    <table class="layui-table" lay-filter="listtable">
                      <thead>
                      <tr >
                          <th lay-data="{field:'uid', width:80, fixed:'left'}"  >#</th>
                          <th lay-data="{field:'publish_number', width:120, fixed:'left'}" >抽奖号</th>
                          <th lay-data="{field:'prize_name',  minWidth:260}" >奖品</th>
                          <th lay-data="{field:'result', width:100}" >结果</th>
                          <th lay-data="{field:'user_name', width:120}"  >参与者</th>
                          <th lay-data="{field:'loginname', width:120}"  >帐号</th>
                          <th lay-data="{field:'buy_time', width:170}"  width="60">参与时间</th>
                          <th lay-data="{field:'user_phone', width:120}"  >电话</th>
                          <th lay-data="{field:'Department', width:120}" >部门</th>
                          <th lay-data="{field:'company', width:90}" >公司</th>
                          <th lay-data="{field:'options', width:70, fixed:'right'}"  width="60">操作</th>
                      </tr>
                      </thead>
                      <tbody class="lottery-table-list">
                        {foreach name="lists" item="vo"}
                        <tr class="lottery-item">
                          <td  >{$vo.id}</td>
                          <td>{$vo.publish_number}</td>
                          <td class="layui-elip">
                            <?php if($vo['type']){ ?>
                            <div  class="cover-thumb " style="<?php echo $vo['thumb'] ? 'background-image:url(\''.$vo['thumb'].'\')' : ''; ?>"> </div>
                            <span class="layui-elip">【第{$vo.publication_number}期】 {$vo.prize_name|iconv_substr=0,14} </span>
                            <?php }else{ ?>
                              【转盘】 {$vo.result_str|iconv_substr=0,14}
                            <?php } ?>

                          </td>
                          <td>
                            {php}
                            if($vo['type']){
                              if($vo['result'] > 0){
                                echo '<i class="fa fa-smile-o"></i>
                                      <span class="layui-badge ">中奖</span>';
                              }else if($vo['result'] == -1){
                                echo '<i class="fa fa-frown-o"></i>
                                      <span class="layui-badge layui-bg-gray">未中奖</span>';
                              }else{
                                echo '未开奖';
                              }
                            }else{
                              echo $vo['result'];
                            }
                            {/php}
                          </td>
                          <td>{$vo.user_name}</td>
                          <td>{$vo.loginname}</td>
                          <td >{$vo.buy_time}</td>
                          <td>{$vo.user_phone}</td>
                          <td>{$vo.Department}</td>
                          <td><?php echo isset($companys[$vo['company_id']]) ? $companys[$vo['company_id']] : ''; ?></td>

                          <td >
                            <a href="{:url('admin/ScoreLottery/detail',['id'=>$vo['id']])}"  data-title="中奖详情 #{$vo.id}"  data-trigger="modal" title="中奖详情 #{$vo.id}" class="ibtn layui-btn layui-btn-xs  ">  详情</a>
                          </td>

                        </tr>
                        {/foreach}



                      </tbody>
                    </table>
                  </form>
                </div>

              </div>

            </div>
         </div>
          <!--分页-->
          {$lists|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
initLayuiTable({ limit: {$pagesize} })

function exportExcel(){
  var form = $("#filter-form");
  form.find("input[name='export']").val(1);
  form.attr('target','_blank') ;
  form.submit();
  form.find("input[name='export']").val(0);
  form.attr('target','_self') ;
}
function changeType(type){
  var form = $("#filter-form");
  form.find("input[name='type']").val(type);
  form.submit();
}
function submitForm(){
  var form = $("#filter-form");
  var isExport = form.find("input[name='export']").val();
  if(isExport!=1){
    layer.load(1);
  }
}
// initLayuiTable({ limit: {$pagesize} })
laydate.render({
  elem: '#filter_time'
  ,range: '~' //或 range: '~' 来自定义分割字符
  ,done: function(value, date, endDate){

 }
});
$(".layui-tab-title li a").click(function(){
  layer.load(1);
})
</script>
{/block}
