<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form class="layui-form form-container" action="{:url('admin/AppVersion/publish')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">版本</label>
                <div class="layui-input-block">
                    <div class="layui-form-mid">
                    <?php if($data['platform'] == 'iOS'){ ?>
                        <i class="fa fa-apple"></i> iOS
                    <?php }else{ ?>
                        <i class="fa fa-android"></i> Android
                    <?php } ?>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">版本</label>
                <div class="layui-input-block">
                    <input type="text" name="latest_version" value="{$data.latest_version}" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">版本号</label>
                <div class="layui-input-block">
                    <input type="text" name="current_versioncode" value="{$data.current_versioncode}" required  lay-verify="required" placeholder="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">MD5</label>
                <div class="layui-input-block">
                    <input type="text" name="md5" value="{$data.md5}" placeholder="" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">文件md5</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">更新范围</label>
                <div class="layui-input-block">
                    <div class="layui-input-inline">
                        <input type="text" name="min_versioncode" value="{$data.min_versioncode}" placeholder="" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="max_versioncode" value="{$data.max_versioncode}" placeholder="" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">强制更新范围</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">白名单</label>
                <div class="layui-input-block">
                    <input type="text" name="white_list" value="{$data.white_list}" placeholder="" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">不在此名单的版本号都要求强制更新，名单请使用整数版本号，格式请以英文逗号隔开，如： 591001,591002,591003。<br/> 当前最新版本号会在保存时会自动保存到此字段。</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">is_new</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_new" value="1" title="是" {if condition="$data.is_new==1"}checked="checked"{/if}>
                    <input type="radio" name="is_new" value="0" title="否" {if condition="$data.is_new==0"}checked="checked"{/if}>
                    <div class="layui-form-mid layui-word-aux">是否检查更新</div>
                </div>
            </div>

            <div class="layui-form-item">
            <label class="layui-form-label">URL</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{$data.url}"  placeholder="" class="layui-input">
                <div class="layui-form-mid layui-word-aux">APP下载地址，暂时只有Android有效。 请打完整路径（包含http://）</div>
            </div>
            </div>

            <div class="layui-form-item">
            <label class="layui-form-label">URL2</label>
            <div class="layui-input-block">
                <input type="text" name="url2" value="{$data.url2}"  placeholder="" class="layui-input">
                <div class="layui-form-mid layui-word-aux">海外版APP下载地址，暂时只有Android有效。 请打完整路径（包含http://）</div>
            </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$id}">
                    <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  form.render();
</script>
