<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form class="layui-form form-container" action="{:url('admin/ContentLabel/edit')}" method="post">

            <div class="layui-form-item">
                <label class="layui-form-label">模型类别</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="required">
                        {foreach name="typeList" key="key" item="vo"}
                        <option value="{$key}" {if condition="$data.type==$key"} selected{/if}>{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标签名称 ZH</label>
                <div class="layui-input-block">
                    <input type="text" name="name_zh" value="{$data.name_zh}" required  lay-verify="required" placeholder="请输入中文标签名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标签名称 EN</label>
                <div class="layui-input-block">
                    <input type="text" name="name_en" value="{$data.name_en}"   placeholder="请输入英文标签名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标签名称 VI</label>
                <div class="layui-input-block">
                    <input type="text" name="name_vi" value="{$data.name_vi}" placeholder="请输入越南文标签名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-block">
                    <input type="text" name="icon" value="{$data.icon}" placeholder="请输入图标相对根目录的路径" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" value="{$data.sort}" placeholder="排序，越大越前" class="layui-input">
                    <div class="layui-form-mid layui-word-aux"> 数字越大，排序越前</div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$data.id}">
                    <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  form.render();
</script>
