<div class="amain-body ">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">

            <form class="layui-form  " action="{:url('admin/shuttle.line/edit',['id'=>$data['id']])}" method="post" style="margin-right:15px;" id="editForm">
                <blockquote class="layui-elem-quote layui-elem-quote-warning">
                    辅助工具：
                    <a href="https://lbs.amap.com/console/show/picker" target="_blank"><i class="fa fa-map-marker"></i> 高德经纬度查询</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="https://www.w3cschool.cn/tools/index?name=cpicker" target="_blank"><i class="fa fa-tachometer"></i> 在线拾色</a>
                    <a href="http://www.5tu.cn/colors/yansebiao.html" target="_blank"><i class="fa fa-tachometer"></i> 在线拾色2</a>
                </blockquote>
                <fieldset class="layui-elem-field address-box" style="padding:24px 20px 12px 0;">
                    <legend>起点</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <a class="layui-btn layui-btn-primary btn-select-address" onclick="FORM_PAGE_EXEC.selectAddress(this)" title="选择起点">{$data.start_name}<small> #{$data.start_id}</small></a>
                            <input type="hidden" class="input-addressid" name="start_id" value="{$data.start_id}" required  placeholder="起点id" >
                            <input type="hidden" class="layui-input input-addressname" name="start_name" value="{$data.start_name}" readonly  placeholder="起点名称">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">经度</label>
                        <div class="layui-input-block">
                            <input type="number" class="layui-input input-longitude"  name="start_longitude" value="{$data.start_longitude}" readonly  placeholder="起点经度 longitude">
                    </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">纬度</label>
                        <div class="layui-input-block">
                            <input type="number" class="layui-input input-latitude"  name="start_latitude" value="{$data.start_latitude}" readonly  placeholder="起点纬度 latitude">
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="layui-elem-field address-box" style="padding:24px 20px 12px 0;">
                    <legend>终点</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <a class="layui-btn layui-btn-primary btn-select-address" onclick="FORM_PAGE_EXEC.selectAddress(this)" title="选择终点">{$data.end_name}<small> #{$data.end_id}</small></a>
                            <input type="hidden" class="input-addressid" name="end_id" value="{$data.end_id}" required  placeholder="终点id" >
                            <input type="hidden" class="layui-input input-addressname" name="end_name" value="{$data.end_name}" readonly placeholder="终点名称">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">经度</label>
                        <div class="layui-input-block">
                            <input type="number" class="layui-input input-longitude" name="end_longitude" value="{$data.end_longitude}" readonly placeholder="终点经度 longitude">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">纬度</label>
                        <div class="layui-input-block">
                            <input type="number" class="layui-input input-latitude" name="end_latitude" value="{$data.end_latitude}" readonly placeholder="终点纬度 latitude">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field" style="padding:24px 20px 12px 0;">
                    <legend>其它设置</legend>
                    <div class="layui-form-item">
                        <label class="layui-form-label">颜色</label>
                        <div class="layui-input-inline">
                            <input type="text" name="color" value="{$data.color}" placeholder="16进制色 #FFFFFF" class="layui-input" >
                        </div>
                        <div style="display: inline-block; margin-left: -11px;">
                            <div id='u-color'></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">授权区域</label>
                        <div class="layui-input-block J-region-wrapper">
                            <input type="hidden" name="department_ids" value="{$department_ids}" class="layui-input layui-input-inline " readonly>
                            <a onclick="openLayer('{:url('admin/Department/list_dialog',['multi'=>1])}','选择区域/部门');"
                                href="javascript:void(0);" class="layui-btn  layui-btn-primary J-btn-department"
                                data-target="department_ids:id" data-show-target=".J-dept-select-wrapper"
                                data-paramstr='{"default_id":"{$department_ids}"}'>
                                <i class="fa fa-book"></i> <span>选择区域/部门</span>
                            </a>
                            <div class="J-dept-select-wrapper"></div>
                            <div class="layui-form-mid layui-word-aux">选择后，该部门下的用户能看到本路线</div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">后台管理授权区域</label>
                        <div class="layui-input-block J-region-wrapper">
                            <input type="hidden" name="admin_department_id" value="{$data.admin_department_id}" class="layui-input layui-input-inline " readonly>
                            <a onclick="openLayer('{:url('admin/Department/list_dialog')}','选择区域/部门');"
                                href="javascript:void(0);" class="layui-btn  layui-btn-primary J-btn-department"
                                data-target="admin_department_id:id" data-show-target=".J-dept-select-wrapper"
                                data-paramstr='{"default_id":"{$data.admin_department_id}"}'>
                                <i class="fa fa-book"></i> <span><?php echo $data['admin_full_department'] ?? ' 选择区域/部门' ?></span>
                            </a>
                            <div class="layui-form-mid layui-word-aux">高于或等于该部门的地区权限管理账号才可管理此行程</div>
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">所属类型</label>
                        <div class="layui-input-block">
                            <select name="type">
                                {foreach name="$shuttle_line_type" key='key' item="vo"}
                                <option value="{$key}" {if condition="$data.type==$key"} selected="selected"{/if}> {$vo}</option>
                                {/foreach}
                            </select>
                            <div class="layui-form-mid layui-word-aux">选择上班路线还是下班路线</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <select name="status">
                                <option value="1" {if condition="$data.status === 1"} selected="selected"{/if}> 启用</option>
                                <option value="0" {if condition="$data.status === 0"} selected="selected"{/if}> 禁用</option>
                            </select>
                            <div class="layui-form-mid layui-word-aux">是否可选</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">地图类型</label>
                        <div class="layui-input-block">
                            <select name="map_type">
                                <option value="0" {if condition="$data.map_type === 0"} selected="selected"{/if}> 高德</option>
                                <option value="1" {if condition="$data.map_type === 1"} selected="selected"{/if}> Google</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                            <input type="number" name="sort" value="{$data.sort}"  placeholder="排序" class="layui-input">
                            <div class="layui-form-mid layui-word-aux">越大越前</div>
                        </div>
                    </div>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <input type="hidden" name="id" value="{$data.id}" />
                        <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    FORM_PAGE_EXEC = {
        datas: {
            deptsData: <?php echo $deptsData ? json_encode($deptsData) : '[]'; ?>,
        },
        init: function () {
            var _this = this;
            form.render();
            element.init();
            MyDept().renderShowBox(_this.datas.deptsData, $('.J-dept-select-wrapper'));
            var colorpicker = layui.colorpicker;
            colorpicker.render({
                elem: '#u-color',
                color:'{$data.color}',
                change: function(color, elem){
                    $('#editForm').find('input[name="color"]').val(color);
                }
            });
        },

        selectAddress: function(btnObj) {
            var _this = this;
            var $addressBox = $(btnObj).closest('.address-box');
            var $btn = $addressBox.find('.btn-select-address');
            var title = $btn.attr('title') || '选择地址';
            _this.addressBox = $addressBox;
            var url = "{:url('admin/shuttle.address/public_selects')}";
            _this.addressModal = $.kanModal({
                target:'model-select-address',
                title: title,
                nobackdrop: false,
                remote: url,
                data:{},
                onLoadSuccess: function(a) {
                    return false;
                }
            })
            _this.addressModal.show();
        },

        selectAddressItem: function(res) {
            var _this = this;
            var $addressBox = _this.addressBox;
            $addressBox.find('.btn-select-address').html(res.addressname+ "<small> #"+res.addressid+"</small>");
            $addressBox.find('.input-addressid').val(res.addressid);
            $addressBox.find('.input-addressname').val(res.addressname);
            $addressBox.find('.input-latitude').val(res.latitude);
            $addressBox.find('.input-longitude').val(res.longitude);
            _this.addressModal.close();
        }
    
    }


    $(function () {
        FORM_PAGE_EXEC.init();

    });
</script>