<div class="amain-body page-good-detail">

    <div style="text-align:center; margin:-40px 0 0;">
      <div class="cp-avatar" style="background-image:url('{$data.userInfo.avatar}')"></div>
    </div>

    <h3>用户信息</h3>
    <table class="layui-table">
      <tbody>
        <tr>
          <td class="label" width="100">用户名</td>
          <td>{$data.userInfo.loginname}</td>
        </tr>
        <tr>
          <td class="label">手机</td>
          <td>{$data.userInfo.phone}</td>
        </tr>
        <tr>
          <td class="label">姓名</td>
          <td>{$data.userInfo.name}</td>
        </tr>

        <tr>
          <td class="label">所属公司</td>
          <td><?php echo isset($companys[$data['userInfo']['company_id']]) ? $companys[$data['userInfo']['company_id']] : ''; ?></td>
        </tr>
        <tr>
          <td class="label">部门</td>
          <td>{$data.userInfo.Department}</td>
        </tr>
      </tbody>
    </table>

    <div class="blank10"></div>

    <h3>订单信息</h3>
    <table class="layui-table">
      <tbody>
        <tr>
          <td class="label" width="100">订单号</td>
          <td> {$data.uuid|iconv_substr=0,8}/{$data.id}</td>
        </tr>
        <tr>
          <td class="label">下单时间</td>
          <td>{$data.creation_time}
            <span style=" color: #ccc; margin-left:5px">
              <?php echo  $data['platform']===1 ? '<i class="fa fa-android"></i>' : ($data['platform']===0 ? '<i class="fa fa-apple"></i>':''); ?>
            </span>
          </td>
        </tr>
        <tr>
          <td class="label">订单状态</td>
          <td><div class="layui-badge goodOrder-status_{$data.status}"><?php echo $statusList[$data['status']]; ?> </div></td>
        </tr>
        <tr>
          <td class="label">消耗积分</td>
          <td>{$data.total}</td>
        </tr>

      </tbody>
    </table>
    <div class="blank10"></div>

    <h3>商品信息</h3>
    <table class="layui-table">
      <thead>
      <tr >
          <th width="40">编号</th>
          <th>商品</th>
          <th width="50">兑换价</th>
          <th width="50">采购价</th>
          <th width="100" >数量</th>
      </tr>
      </thead>
      <tbody class="goods-table-list">
      <?php foreach($data['goods'] as $good_i => $good){ ?>
        <tr class="good-item">
          <td class="label" >{$good.id}</td>
          <td>
            <div  class="cover-thumb " style="<?php echo $good['thumb'] ? 'background-image:url(\''.$good['thumb'].'\')' : ''; ?>"> </div>
            <span class="layui-elip">{$good.name}</span>
          </td>
          <td class="label" >{$good.price}</td>
          <td class="label" >{$good.amount ? $good.amount : '-' }</td>
          <td class="label" >&times; {$good.num}</td>

        </tr>
        <?php } ?>


      </tbody>
    </table>
    <div class="blank10"></div>
    <?php if($auth['admin/ScoreOrder/finish'] && intval($data['status'])===0){ ?>
    <div style="text-align:right">
      <!--<div class="layui-input-inline">
          <input type="text" name="order_no" value="" placeholder="请输入订单号确认" class="layui-input">
      </div>-->
        <a class="layui-btn layui-btn-success" href="javascript:void(0);" onclick="RESOLVE_INIT.finish({$data.id})">完结兑换订单</a>

    </div>
    <div class="blank10"></div>
    <?php  } ?>


</div>


<script>
var RESOLVE_INIT = {

  data : {

  },
  finish : function(id){
    // var order_no = $("input[name=order_no]").val();
    // console.log(order_no)
    layer.confirm('您确定要完结本次兑换？',
      {
        closeBtn: 1,
        btn: ['确定','取消'] //按钮
      }, function(){
        ajaxSubmit({
          url:"<?php echo url('admin/ScoreOrder/finish');?>",
          data:{id:id},
          success:function(res){
            console.log(res);
          }
        })
      }
    );

  }


}


</script>
