{extend name="base" /}
{block name="body"}
<div class="amain-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <div class="layui-tab-content">

            <blockquote class="layui-elem-quote">Welcome</blockquote>

            <div class="layui-tab-item layui-show">
                <h3>Domains validity: </h3>
                <table class="layui-table">
                        <?php foreach($config['domains_validity'] as $k => $v) { ?> 
                        <tr >
                            <td style="width: 200px;">{$v.domain}</td>
                            <td>
                                {$v.validFrom} ~ <b>{$v.validTo}</b>
                                余 <b>{$v.surplus} </b> 天
                            </td>
                        </tr>
                        <?php } ?>
                </table>
                <h3>Server info: </h3>
                <table class="layui-table">
                    <tr>
                        <td style="width: 200px;">Website domain</td>
                        <td>{$config.url}</td>
                    </tr>
                    <tr>
                        <td>Document root</td>
                        <td>{$config.document_root}</td>
                    </tr>
                    <tr>
                        <td>Server os</td>
                        <td>{$config.server_os}</td>
                    </tr>
                    <tr>
                        <td>Server port</td>
                        <td>{$config.server_port}</td>
                    </tr>
                    <tr>
                        <td>Server soft</td>
                        <td>{$config.server_soft}</td>
                    </tr>
                    <tr>
                        <td>PHP version</td>
                        <td>{$config.php_version}</td>
                    </tr>
                    <tr>
                        <td>MySQL version</td>
                        <td>{$config.mysql_version}</td>
                    </tr>
                    <tr>
                        <td>Max upload size</td>
                        <td>{$config.max_upload_size}</td>
                    </tr>
                    
                    
                    <tr>
                        <td>CPU </td>
                        <td>
                            <?php foreach($config['cpu'] as $k => $v) { ?> 
                            <div class="layui-progress" lay-showPercent="true" style="margin:20px 0 15px;">
                                <div class="layui-progress-bar" lay-percent="<?php echo (100 - $v['idle']); ?>%"></div>
                            </div>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php if($config['memory']){ ?>
                        <tr>
                            <td>Memory</td>
                            <td>
                                <div class="layui-progress layui-progress-big" lay-showPercent="true">
                                    <div class="layui-progress-bar layui-bg-cyan" lay-percent="{$config.memory.memRealPercent}%"></div>
                                </div>
                                {$config.memory.memUsed} / {$config.memory.memTotal}

                            </td>
                        </tr>
                    <?php } ?>

                    <tr>
                        <td>Disk</td>
                        <td>
                            <div class="layui-progress layui-progress-big" lay-showPercent="true">
                                <div class="layui-progress-bar layui-bg-cyan" lay-percent="{$config.disk.PCT}%"></div>
                            </div>
                            {$config.disk.u} / {$config.disk.t} G
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}

{/block}
