/*后台公用样式*/
.blank10 {height: 10px; overflow: hidden; line-height: 1;display: block; clear: both;}
.blank12 {height: 12px; overflow: hidden; line-height: 1;display: block;clear: both;}
.blank20 {height: 20px; overflow: hidden; line-height: 1;display: block;clear: both;}
.header{   width:100%;   height:60px;   display: flex; display: -webkit-flex; }
.t-number , .layui-table th.t-number { text-align: right}

.aframe-sidebox .layui-nav-title  { margin: 0; padding:8px 0; color:#AAA; background: #4A5064; cursor: pointer;}
.aframe-sidebox .layui-nav-title .aframe-icon { margin-left: 0; padding-left: 12px}
.aframe-sidebox  a { display: block;}
.aframe-sidebox .aframe-icon {margin:0 12px 0 -8px;   display: inline-block; width: 22px; text-align: center; font-size: 16px;}
.aframe-sidebox .layui-nav-child  .aframe-icon { font-size: 12px;}
.aframe-sidebox.fold a { padding-left: 0; padding-right: 0;width: 46px; overflow: hidden; text-overflow:inherit;}
.aframe-sidebox.fold .layui-nav-more { display: none}
.aframe-sidebox.fold .aframe-icon { margin-left:0; padding-left: 12px;}
.aframe-box{   width:100%;   height:100%;   overflow: hidden; display: flex;   display: -webkit-flex; position:absolute;   top:60px; left:0; right:0;   bottom:0;   z-index: 1;}
.aframe-box > .aframe-sidebox{ width:200px;   flex:0 0 auto; height:100%; z-index: 8}
.aframe-con {      flex:auto; z-index: 9; background: #fff;}
.aframe-con .layui-tab { margin: 0;}
.aframe-con .layui-tab .layui-this {  background: #FFF;}

.aframe-con .layui-tab-title {margin-right:60px;background: #f0f0f0; z-index: 1;  position: relative;}
/* .aframe-con .layui-tab[overflow]>.layui-tab-title {overflow-x: auto;} */

.aframe-con .layui-tab-title.layui-tab-more { z-index: 100; border-right: 1px solid #DDD; box-shadow: 0 5px 30px rgba(0,0,0,.4)}
.aframe-con .layui-tab-title.layui-tab-more .layui-this {background:#7663af; color:#fff;}
.aframe-con .layui-tab-title.layui-tab-more .layui-this::after { border:none; }
.aframe-con .layui-tab-content > .layui-tab-item{   position: absolute; top: 41px; left: 0; right: 0; bottom: 0;   overflow: hidden; transition: all 0.3s;z-index: 2;}
.aframe-con iframe{ background: #fff;   display: block;   width:100%; height:100%; border:0;}
.aframe-tab-tool { position: absolute; right: 0; top:0; width: 60px;border:1px solid #DDD;border-width: 0 0 1px 1px;z-index: 100; height: 40px; line-height: 41px; text-align: center; }
.aframe-tab-tool-options { display: none;border-radius: 3px; border:1px solid #DDD; position: absolute; right: 10px; top:46px; z-index: 100; box-shadow: 0 0 5px rgba(0,0,0,.2)}
.aframe-tab-tool-options li { padding: 8px 12px; background: #FFF;border-bottom:  1px solid #fafafa; }

.amain-fieldset {padding:20px 12px 12px;  margin-bottom: 12px;}
.amain-fieldset legend { font-size: 16px; font-weight: 700; }

.login {background: url(../images/login-bg.png) #4A5064;}

.login-form-wrapper { background: #FFF; width: 450px; margin: 0 auto; padding:20px 12px 8px  ; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,.2)}
.login .login-title {color: #fff;text-align: center;font-size: 20px; margin: 200px 0 20px ;}
.login .login-form {max-width: 450px;margin: 10px auto;position: relative; left:-40px; color:#888}
.login .login-form .captcha {width: 140px;height: 38px;}
.login .login-form input {background-color: rgba(255, 255, 255, 0.3); border: 1px solid rgba(0, 0, 0, 0.1); /* color: #fff;*/}
.login .login-form button {width: 100%; }
.logo {margin-top: 20px;margin-left: 20px;}

.amain-body .layui-tab-content { padding-bottom: 20px}
.amain-i18n-edit-list { padding: 12px; margin: 0 -12px; background: #fcfcfc; border-top:1px solid #ddd; border-bottom: 1px solid #DDD; margin-bottom: 10px;}
.amain-i18n-edit-list li {position: relative; padding: 8px 0; margin-bottom: 0; border-bottom: 1px dotted #ccc}
.amain-i18n-edit-list li:last-child { border-bottom: none}
.amain-i18n-edit-list li label  { }
.amain-i18n-edit-list li label small {font-size: 12px;color:#888}
.amain-i18n-edit-list li .layui-textarea { min-height: 80px}
.amain-i18n-edit-list li a.delete {position: absolute; display: block;right:-8px; top:0px;  width: 17px; height: 17px; line-height: 17px; border-radius: 50%; color:#fff; background: rgba(0,0,0,0.4);text-align: center; cursor: pointer;}
.amain-i18n-edit-list li a.delete:hover {background: rgba(0,0,0,0.6);}
.amain-additem-bar { background: #e0e9eb; border:1px solid #ddd; padding: 4px; border-radius: 3px;}
.amain-additem-bar .layui-form-item:last-child { margin-bottom: 0;}

.amain-tool-bar { padding: 0 10px}


.amain-body .list_status_0 { background: #fcfcfc; color: #aaa}

.header {background-color: #393D49;}

.footer {line-height: 44px;}
.layui-layout-admin .layui-body { top:0}
.layui-layout-admin .layui-footer {}
/* .layui-body {left: 210px;} */
/* .layui-side {top: 60px;} */
.layui-table tbody tr:hover {background-color: #f2f2f2;}
.layui-tab {overflow: visible;}
.layui-tab-title > li > a {display: block;}
.layui-btn-success {background: #4caf50;}
/* .layui-btn-danger {background: #e90d24;} */
/* .layui-nav-tree .layui-nav-child dd a {text-indent: 16px;} */



.form-container {max-width: 800px;}
.form-container .edui-editor {margin-top: -7px;margin-bottom: -7px;margin-left: -11px;}

/*分页*/
.pagination {}
.pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
.pagination li.active {background: #7663af;color: #fff;border: 1px solid #7663af;}
.pagination li a {display: block;text-align: center;}

.photo-list {margin: 5px 0;}


.cp-avatar { display: inline-block;width: 50px; height: 50px; background-size: cover; border-radius: 50%;}


/*文字色*/
.text-red { color:rgb(198, 84, 84)}
.text-green { color:rgb(87, 156, 100)}

/* 模态框相关 */
.modal-open {overflow: hidden;}
.modal {   display: none;   overflow: hidden; position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1050; -webkit-overflow-scrolling: touch;   outline: 0;}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {  overflow-x: hidden; overflow-y: auto;}
.modal-dialog {   position: relative; width: auto; margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in { opacity: 0.5;  filter: alpha(opacity=50);}
.modal-header {   padding: 15px; border-bottom: 1px solid #e5e5e5;}
.modal-header .close {
  margin-top: -2px; float: right; border:none;  font-size: 20px; opacity: .6; cursor: pointer; font-weight: 900
}
.modal-header .close:hover {
 opacity: 1
}
.modal-title {
  font-size: 18px;
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
