{extend name="base" /}
{block name="body"}
<div class="amain-body">

    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <ul class="layui-tab-title" style="padding-left:10px">
            <li class=""><a href="{:url('admin/score_account/index',['type'=>2])}"  >Carpool帐号</a></li>
            <li class="layui-this"><a href="{:url('admin/score_account/index',['type'=>0])}" >积分帐号</a></li>
        </ul>

        <div class="layui-tab-content">


                <form class="layui-form layui-form-pane" action="{:url('admin/user/index')}" method="get">
                    <div class="layui-inline">
                        <label class="layui-form-label">检索</label>
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <hr>

                <table lay-filter="listtable">
                    <thead>
                    <tr >
                        <th lay-data="{field:'id', width:100}" fixed="left">ID</th>
                        <th lay-data="{field:'account'}">用户名</th>
                        <th lay-data="{field:'carpool_account', width:100}">手机</th>
                        <th lay-data="{field:'platform', width:100}">姓名</th>
                        <th lay-data="{field:'register_date', width:100}">部门</th>
                        <th lay-data="{field:'balance', width:100}">公司</th>
                        <!-- <th lay-data="{field:'score', width:80}">分</th> -->
                        <th lay-data="{field:'other', width:60}">...</th>
                        <th lay-data="{field:'options', width:140}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.account}</td>
                        <td>{$vo.carpool_account}</td>
                        <td>{$vo.platform}</td>
                        <td>{$vo.register_date}</td>
                        <td>{$vo.balance}</td>


                        <td>
                          {php}echo $vo['status']===0 ? '正常' : '<span class="text-red">禁用</span>';{/php}

                        </td>
                        <td>
                          <a href="{:url('admin/user/edit',['id'=>$vo['id']])}"  class="layui-btn   layui-btn-xs " data-title="編輯成員"  data-trigger="modal" title="編輯"><i class="layui-icon">&#xe642;</i></a>
                          <a href="{:url('admin/user/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-primary layui-btn-xs ajax-delete" title="删除" ><i class="layui-icon">&#xe640;</i></a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$lists|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
initLayuiTable({ limit: {$pagesize} })




</script>
{/block}
