{extend name="base" /}
{block name="body"}
<div class="amain-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
          <li class="layui-this">I18n文档管理</li>
          <li class=""><a data-title="添加字条"  data-trigger="modal" href="{:url('admin/i18n/add')}">添加字条</a></li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">

                <form class="layui-form layui-form-pane" action="{:url('admin/i18n/index')}" method="get" id="searchForm">
                    <div class="layui-inline">
                      <select name="module"  lay-search>
                        <option value="0">请选择模块</option>
                        {foreach name="modules" item="vo"}
                         <option value="{$vo.module}" {php}echo $vo['module']==$module ? 'selected' : '';{/php}>{$vo.module}</option>
                         {/foreach}
                       </select>
                    </div>
                    <div class="layui-inline">
                      <select name="lang"   lay-search>
                         <option value="0">请选择语言</option>
                       </select>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="keyword" value="{$keyword}" placeholder="请输入关键词" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">检索</button>
                    </div>
                </form>
                <hr>

                <table class="layui-table">
                    <thead>
                    <tr>
                        <th  >#</th>
                        <!-- <th  >Name</th> -->
                        <th  >key_ios</th>
                        <th  >key_android</th>
                        <th  >content</th>
                        <th  >状态</th>
                        <th width="110">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <!-- <td>{$vo.name}</td> -->
                        <td>{$vo.key_ios}</td>
                        <td>{$vo.key_android}</td>
                        <td>{php}
                          if($lang=="zh-cn"){
                            echo $vo['content'] ? $vo['content'] : $vo['title'];

                          }else{
                            echo "<small>".$vo['title']." </small><br />";
                            echo $vo['content'];

                          }
                          {/php}
                        </td>
                        <td>{php}echo $vo['status']==1 ? '<i class="fa fa-check"></i>' : '<i class="fa fa-times"></i>';{/php}</td>


                        <td>
                          <a  href="{:url('admin/i18n/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-sm " data-title="編輯"  data-trigger="modal"     title="编辑" ><i class="layui-icon">&#xe642;</i></a>
                          <a href="{:url('admin/i18n/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-primary layui-btn-sm ajax-delete" title="删除"><i class="layui-icon">&#xe640;</i></a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$lists|raw}

            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
var pageData = {
  langs:[]
}
function getLangs(success){
    var _this = this;
    var lang = '{$lang}';
    $.get("{:url('admin/i18n/public_langs')}",function(res){
      if(res.code === 0){
        var options = '<option value="0">请选择语言</option>';
        pageData.langs = res.data.lists;
        $(res.data.lists).each(function(index, el) {
          var selected = el.code == lang ? "selected" : '';
          options += '<option value="'+el.code+'" '+selected+'>【'+el.code +"】"+el.name+'</option>';
        });
        $("#searchForm select[name='lang']").html(options)
        if(typeof(success)=="function"){
          success(res);
        }
        form.render();
      }
    })

}
getLangs();
</script>
{/block}
