<form class="layui-form form-container" action="{:url('admin/i18n/lang_add')}" method="post" id="editForm">


    <div class="layui-form-item">
      <label class="layui-form-label">语言码</label>
      <div class="layui-input-block">
          <input type="text" name="code" value="" required  lay-verify="required" placeholder="语言码" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">语言名称</label>
      <div class="layui-input-block">
          <input type="text" name="name" value="" required  lay-verify="required" placeholder="语言名称" class="layui-input">
      </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="启用|禁用" checked>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
          <input type="number" name="sort" value="0" placeholder="排序，越小越前" class="layui-input">
        </div>
    </div>





  <div class="blank20"></div>
  <div class="layui-btn-container layui-row">
      <button class="layui-btn layui-btn-lg layui-col-xs12"  type="submit" lay-submit lay-filter="*">提交</button>
  </div>

</form>



<script>
form.render();


</script>
