{extend name="base" /}
{block name="body"}
<div class="amain-body P-department-list">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="amain-tool-bar" >
            <li {php} echo !$deep ?  'class="layui-this"' : '';{/php}><a href="{:url('index')}"  >部门管理</a></li>
            <li {php} echo $deep ==1 ?  'class="layui-this"' : '';{/php}><a href="{:url('index',['pid'=>'p_1'])}"  >地区列表</a></li>
            <li {php} echo $deep ==3 ?  'class="layui-this"' : '';{/php}><a href="{:url('index',['pid'=>'p_3'])}"  >分公司列表</a></li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              {php} if(!$deep){ {/php}
                <form class="layui-form layui-form-pane" action="{:url('admin/department/index')}" method="get">
                  <input type="hidden" name ="pid" value={$pid} />
                  <div class="my-input-prebox" style="width:100px">
                    <select name="filter[is_all]"  >
                      <option value="0" {php}echo isset($filter['is_all']) &&  $filter['is_all'] == 0  ? 'selected' : ''; {/php}>检索当前</option>
                      <option value="1" {php}echo isset($filter['is_all']) &&  $filter['is_all'] ? 'selected' : ''; {/php}>检索全部</option>
                    </select>
                  </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="filter[keyword]" value="{$filter['keyword'] ? $filter['keyword'] :''}" placeholder="关键词" class="layui-input" style="width:130px" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <hr>
                {php} } {/php}

                <!-- 面包屑导行 -->
                <div class="layui-breadcrumb">
                  <?php if(count($path) >1){ foreach($path as $value){
                    if($pid != $value['id']){ ?>
                      <a href="{:url('index',['pid'=>$value['id']])}">{$value['name']}</a>
                  <?php  }else{ ?>
                    <a ><cite>{$value['name']}</cite></a>
                  <?php }}} ?>
                </div>
                <div class="blank10"> </div>
                <!-- /面包屑导行 -->


                <blockquote class="layui-elem-quote">共检得 <b>{$lists->total()}</b> 条数据</blockquote>
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:80}">ID</th>
                        <th lay-data="{field:'pid', width:80}">PID</th>
                        <th lay-data="{field:'name'}">名称</th>
                        {php} if($deep){ {/php}
                        <th lay-data="{field:'fullname', width:120}">PATH</th>
                        {php} } {/php}
                        <th width="120px" lay-data="{field:'options', width:120}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.pid}</td>
                        <td><a href="{:url('index',['pid'=>$vo['id']])}">{$vo.name}</a></td>
                        {php} if($deep){ {/php}
                        <td class="layui-breadcrumb">
                          {php}
                          $item_full_array = explode(',',$vo['fullname']);
                          $item_path_array = explode(',',$vo['path']);
                          foreach($item_full_array as $k => $p ){
                            $sep = $k ?  "/" : "";
                            $pid = isset($item_path_array[$k+1]) ? $item_path_array[$k+1] : '';
                            if($pid){
                              echo '<a href="'.url('index',['pid'=>$pid]).'">'.$p.'</a>';
                            }else{
                              echo '<a href="'.url('index',['pid'=>$vo['id']]).'"><cite><b >'.$p.'</b></cite></a>';
                            }
                          }
                          {/php}
                        </td>
                        {php} } {/php}
                        <td>
                           <!-- <a  href="{:url('admin/department/edit',['id'=>$vo['id']])}" class="layui-btn layui-btn-xs " data-title="編輯"  data-trigger="modal"     title="编辑" ><i class="layui-icon">&#xe642;</i></a> -->
                            <a  href="{:url('index',['pid'=>$vo['id']])}"  class="layui-btn  layui-btn-xs" ><i class="fa fa-eye"></i> 查看子部门</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$lists|raw}

            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>

</script>
{/block}
