{extend name="base" /}
{block name="body"}

<div class="amain-body P-department-list-dialog">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief" style="margin:0 0 30px ">
        <ul class="amain-tool-bar" >
            <li {php} echo !$deep ?  'class="layui-this"' : '';{/php}><a href="{:url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>0])}"  >{:lang('Department search')}</a></li>
            <li {php} echo $deep ==1 ?  'class="layui-this"' : '';{/php}><a href="{:url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>'p_1'])}"  >{:lang('Region list')}</a></li>
            <li {php} echo $deep ==3 ?  'class="layui-this"' : '';{/php}><a href="{:url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>'p_3'])}"  >{:lang('Branch list')}</a></li>
        </ul>

        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show">
              {php} if(!$deep){ {/php}
                <form class="layui-form layui-form-pane" action="{:url('admin/department/list_dialog')}" method="get">

                  <input type="hidden" name ="pid" value={$pid} />
                  <input type="hidden" name ="fun" value={$fun} />
                  <input type="hidden" name ="multi" value={$multi} />
                  <div class="my-input-prebox" style="max-width:120px">
                    <select name="filter[is_all]" >
                      <option value="0" {php}echo isset($filter['is_all']) &&  $filter['is_all'] == 0  ? 'selected' : ''; {/php}>{:lang('Find from current')}</option>
                      <option value="1" {php}echo !isset($filter['is_all']) ||  $filter['is_all'] ? 'selected' : ''; {/php}>{:lang('Find from all')}</option>
                    </select>
                  </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="filter[keyword]" value="{$filter['keyword'] ? $filter['keyword'] :''}" placeholder="{:lang('keyword')}" class="layui-input" style="width:130px" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <hr>
                {php} } {/php}

                <!-- 面包屑导行 -->
                <div class="layui-breadcrumb">
                  <?php if(count($path) >1){ foreach($path as $value){
                    if($pid != $value['id']){ ?>
                      <a href="{:url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>$value['id']])}">{$value['name']}</a>
                  <?php  }else{ ?>
                    <a ><cite>{$value['name']}</cite></a>
                  <?php }}} ?>
                </div>
                <div class="blank10"> </div>
                <!-- /面包屑导行 -->


                <blockquote class="layui-elem-quote"> {:lang('A total of %s data were found',['<b>'.$lists->total().'</b>'])}</blockquote>
                <table lay-filter="listtable" class="layui-table">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:80}">ID</th>
                        <th lay-data="{field:'pid', width:80}">PID</th>
                        <th lay-data="{field:'name', width:150}">{:lang('name')}</th>
                        <th lay-data="{field:'fullname' }">PATH</th>
                        <th lay-data="{field:'options', width:80,fixed:'right'}">{:lang('Operate')}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.pid}</td>
                        <td><a href="{:url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>$vo['id']])}">{$vo.name}</a></td>

                          <td class="layui-breadcrumb">
                            <?php
                            $item_full_array = explode(',',$vo['fullname']);
                            $item_path_array = explode(',',$vo['path']);
                            foreach($item_full_array as $k => $p ){
                              $sep = $k ?  " / " : "";
                              $pid = isset($item_path_array[$k+1]) ? $item_path_array[$k+1] : '';
                              if($pid){
                                echo '<a href="'.url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>$pid]).'">'.$p.'</a>';
                              }else{
                                echo '<a href="'.url('list_dialog',['multi'=>$multi,'fun'=>$fun,'pid'=>$vo['id']]).'"><cite><b >'.$p.'</b></cite></a>';
                              }
                            }
                            ?>
                          </td>

                        <td>
                          <?php
                            if($vo['auth_allow_select']){
                              $returnItemData = [
                                'id'             => $vo['id'],
                                'name'           => $vo['name'],
                                'fullname'     => $vo['fullname'],
                                'path'           => $vo['path'],
                              ];
                              $btnStyleClass = $multi ? "layui-btn-primary" : "";

                          ?>
                          <button href="javascript:void(0);"  class="layui-btn   layui-btn-xs  btn-select J-btn-{$vo.id} <?php echo $btnStyleClass; ?>" title="{:lang('Select')}" onclick='DialogList_EXEC.deptClickItem(<?php echo json_encode($returnItemData) ?>)'>{:lang('Select')}</button>
                          <?php }else{
                            echo '<button class="layui-btn   layui-btn-xs   layui-btn-disabled"   onclick="alert(\''.lang('You do not have permission to select the region or department').'\');">'.lang('Select').'</button>';
                          } ?>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->

                {$lists|raw}

            </div>
        </div>
    </div>

    <div class="am-bottom-tool-bar">
      <div class="J-selected-wrapper">
      </div>
      <div class="btns-wrapper">
        <a class="layui-btn layui-btn-primary layui-btn-sm" onclick="DialogList_EXEC.close()">{:lang('Cancel')}</a>
        <?php if($multi){ ?>
          <a class="layui-btn layui-btn-sm" onclick="DialogList_EXEC.done()">{:lang('Done')}</a>
        <?php  }else{  ?>
          <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="DialogList_EXEC.cancelSelected()">{:lang('Cancel selection')}</a>
        <?php  } ?>
      </div>
    </div>

</div>
{/block}
{block name="script"}
<script>
  var DialogList_EXEC = {
    datas : {
      depts: [],
      deptsData: {},
      multi:<?php echo $multi ? 1 : 0; ?>
    },
    init : function(){
      var _this = this;
      initLayuiTable({ limit: {$pagesize} });
      var old_data_str = MyCookies.get('department_selected_list');
      if(old_data_str){
        this.datas.deptsData = $.parseJSON(old_data_str);
      }
      if(this.datas.deptsData){
        var deptsData = this.datas.deptsData;
        for(var id in deptsData){
          if(id){
            _this.datas.depts.push(id);

            var itemHtml = _this.selectedTemplate(deptsData[id]);
            $('.J-selected-wrapper').append(itemHtml);
            $btn = $('.P-department-list-dialog .J-btn-'+id);
            $btn.addClass("checked");
          }

        }
      }
    },


    /**
     * 重建 datas里的id列表
     */
    rebuildDeptIds: function(){
      var deptsData = this.datas.deptsData;
      this.datas.depts = [];
      for(var id in deptsData){
        if(id){
          this.datas.depts.push(id);
        }
      }
    },
    /**
     * 已选项item模板
     */
    selectedTemplate: function(data){
      var html = '<div class="item" data-id="'+data.id+'" title="'+data.fullname+'"><span>'+data.name+'</span><a class="close" onclick="DialogList_EXEC.closeItem()"><i class="fa fa-close"></i></a></div>';
      return html;
    },
    cancelSelected: function(){
        this.deptClickItem({
          'id' : '',
          'name' : '',
          'fullname' : '',
          'path' : '',
          'cancelSelected':true
        });
    },
    /**
     * 点击选择时动作
     */
    deptClickItem : function(data){
      if(this.datas.multi){
        var e = e || event
        var $target = $(e.target);
        if($target.hasClass('checked')){
          return false;
        }
        var old_ids = this.datas.depts;
        var pathArray = data.path.split(',');
        var returnFalse = false;
        $(old_ids).each(function(index,item){
          if($.inArray(item,pathArray) >= 0){
            returnFalse = true;
            return false;
          }
        })
        if(returnFalse){
          layer.msg("{:lang('You have selected the parent of the department, please do not select')}");
          return false;
        }
        $target.addClass('checked');
        var id = data.id;
        var deptsData = typeof(this.datas.deptsData) == "object"  ? this.datas.deptsData : {};
        deptsData[data.id] = {"id":data.id,"name":data.name,"fullname":data.fullname};
        //deptsData.push({"id":data.id,"name":data.name,"fullname":data.fullname});
        this.datas.deptsData = deptsData;
        this.rebuildDeptIds();

        var newDataString = JSON.stringify(deptsData);
        MyCookies.set('department_selected_list',newDataString);
        var itemHtml = this.selectedTemplate(data);
        $('.J-selected-wrapper').append(itemHtml);
      }else{
        this.done(data);
      }
    },
    /**
     * 关闭已选项功作
     */
    closeItem: function(){
      var e = e || event
      var $target = $(e.target);
      var $item = $target.closest('.item');
      var id = $item.data('id');
      $('.P-department-list-dialog .J-btn-'+id).removeClass('checked');
      var deptsData = typeof(this.datas.deptsData) == "object"  ? this.datas.deptsData : {};
      delete deptsData[id] ;
      this.datas.deptsData = deptsData;
      this.rebuildDeptIds();

      var newDataString = JSON.stringify(deptsData);
      MyCookies.set('department_selected_list',newDataString,600);

      $item.addClass('delete');
      setTimeout(function(){
        $item.remove();
      },400);
    },
    /**
     * 点击完成按钮
     * @return {[type]} [description]
     */
    done: function(datas){
      var data = datas || {
        'id_list': this.datas.depts,
        'list': this.datas.deptsData
      }

      if(typeof(window.parent.GV.lastOpenLayer)=="object" && typeof(window.parent.GV.lastOpenLayer.target) == "object"){
        var $target = $(window.parent.GV.lastOpenLayer.target);
        var $targetWrapper = $target.attr('onclick') ? $target : $target.closest('[onclick]');
        var targetString = $targetWrapper.data('target');
        var $wrapper =  $targetWrapper.closest('form');
        var page_exec_str = $targetWrapper.data("page-exec");
      }

      var page_exec = null;

      if(typeof(page_exec_str) == "undefined" ){
        page_exec = typeof(window.parent.FORM_PAGE_EXEC)=='object' ? window.parent.FORM_PAGE_EXEC : (typeof(window.parent.LIST_PAGE_EXEC)=='object' ? window.parent.LIST_PAGE_EXEC : window.parent);
      }else if( typeof(window.parent[page_exec_str]) == "object" ){
        page_exec = window.parent[page_exec_str] ;
      }else{
        page_exec =  window.parent;
      }
      if(typeof(page_exec.<?php echo $fun ?>)=="function"){
        page_exec.<?php echo $fun."("; ?>data<?php echo ")"; ?>;
      }else if(typeof($target)=="object"){
        if(data['fullname']){
          var showText = data['fullname'].replace(/\,/g,' / ');
        }else if(data['cancelSelected']){
          var showText = $targetWrapper.data('title') ? $targetWrapper.data('title') : "{:lang('Please select a region or department')}";
        }
        $targetWrapper.attr('data-tips',showText).html(showText);
        if($wrapper){
          if(targetString){
            var targetInputArray = targetString.split(',');
          }
          $(targetInputArray).each(function(index, el) {
            var targetElArray = el.split(':');
            if(typeof(targetElArray[1])!="undefined" && typeof(datas[targetElArray[1]])!="undefined"){
              $wrapper.find('input[name="'+targetElArray[0]+'"]').val(datas[targetElArray[1]]);
            }
          });
        }
      }else{
        return false;
      }

      if(typeof(page_exec.after_<?php echo $fun ?>)=="function"){
         page_exec.after_<?php echo $fun."("; ?>data<?php echo ")"; ?>;
      }
      if(typeof($target)=="object" && $targetWrapper.data("auto-submit")){
        $targetWrapper.closest('form').submit();
      }

      this.close();
    },
    close: function(){
      MyCookies.delete('department_selected_list');
      var layerIndex = parent.layer.getFrameIndex(window.name);
      parent.layer.close(layerIndex);

    }
  }

  DialogList_EXEC.init();

</script>
{/block}
