<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form class="layui-form form-container" action="{:url('admin/department/add')}" method="post">

            <div class="layui-form-item">
                <label class="layui-form-label">部门名</label>
                <div class="layui-input-block">
                    <input type="text" name="department_name" value="" required lay-verify="required"
                        placeholder="请输入公司名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属公司</label>
                <div class="layui-input-block">
                    <select name="company_id" lay-verify="required" lay-filter="company_id">
                        <option value="0">请选择公司</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" style="display:none">
                <label class="layui-form-label">所属分厂</label>
                <div class="layui-input-block">
                    <select name="sub_company_id" lay-verify="required" lay-search>
                        <option value="0">请选择分厂</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_active" value="1" title="显示">
                    <input type="radio" name="is_active" value="0" title="隐藏">
                </div>
            </div>



            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                    <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function getCompanys(success) {
        $.get("{:url('admin/company/public_lists')}", function (res) {
            if (res.code === 0) {
                var options = '<option value="0">请选择公司</option>';
                $(res.data.lists).each(function (index, el) {
                    options += '<option value="' + el.id + '" >' + el.name + '</option>';
                });
                $("select[name='company_id']").html(options);
                if (typeof (success) == "function") {
                    success(res);
                }
                form.render();
            }
        })
    }

    function getSubCompanys(success) {
        var cid = $("select[name='company_id']").val();
        $.get("{:url('admin/company_sub/public_lists')}", {
            cid: cid
        }, function (res) {
            if (res.code === 0) {
                var options = '<option value="0">请选择分厂</option>';
                $(res.data.lists).each(function (index, el) {
                    options += '<option value="' + el.id + '" >' + el.name + '</option>';
                });
                $("select[name='sub_company_id']").html(options)
                if (typeof (success) == "function") {
                    success(res);
                }
                form.render();
            }
        })
    }

    form.on('select(company_id)', function (data) {
        if (data.value > 0) {
            $("select[name='sub_company_id']").closest('.layui-form-item').show()
            getSubCompanys();
        } else {
            $("select[name='sub_company_id']").closest('.layui-form-item').hide()
        }
    });



    getCompanys();
    form.render();
</script>