{extend name="base" /}
{block name="body"}
<div class="amain-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="amain-tool-bar">
        <li class="layui-this"><a href="{:url('admin/NpdProduct/index')}">产品管理</a></li>
        <li class="btn-item btn-item-add">
            <a class="layui-btn layui-btn-sm layui-btn-success "
            onclick="openLayer('{:url('admin/NpdProduct/add')}',{area: ['96%', '90%'], title:'添加产品'});"
            href="javascript:void(0);">
            <i class="fa fa-plus"></i> 添加产品</a>
        </li>
        </ul>
        <div class="layui-tab-content">

        <form class="layui-form layui-form-pane" action="{:url('admin/NpdProduct/index')}" method="get">
            <div class="layui-inline">
            <div class="layui-input-inline">
                <select name="cid" lay-verify="required">
                <option value="0">根栏目</option>
                {foreach name="category_level_list" item="vo"}
                <option value="{$vo.id}" {if condition="$cid==$vo['id']"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                {/foreach}
                </select>
            </div>
            </div>
            <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" name="filter[keyword]" value="{$filter.keyword}" placeholder="请输入关键词" class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select name="filter[is_recommend]">
                <option value="" {if condition="!isset($filter['is_recommend']) || !is_numeric($filter['is_recommend'])" }  selected="selected" {/if}>不限推荐 </option>
                <option value="1" {if condition="isset($filter['is_recommend']) && is_numeric($filter['is_recommend']) && $filter['is_recommend'] == 1" } selected="selected" {/if}>推荐 </option> 
                <option value="0" {if condition="isset($filter['is_recommend']) && is_numeric($filter['is_recommend']) && $filter['is_recommend'] == 0"  } selected="selected" {/if}>非推荐 </option> 
                </select> 
            </div> 
            </div> 

            <div class="layui-inline">
                <button class="layui-btn">搜索</button>
            </div>
        </form>
        <hr>

        <form action="" method="post" class="ajax-form">
            <div class="layui-tab-item layui-show">
            <table class="layui-table">
                <thead>
                <tr>
                    <th style="width: 30px;">ID</th>
                    <th style="width: 50px;">缩图</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>状态</th>
                    <th>序</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="lists" item="vo"}
                <tr>
                    <td>{$vo.id}</td>
                    <td>
                    <div class="cover-pic-wrapper"
                        style=" float: left;width:20px;height:20px;background-image:url('{$vo.thumb}')"></div>
                    </td>
                    <td>{$vo.is_recommend ? '<i class="fa fa-flag text-red"></i>': ''} {$vo.title}</td>
                    <td>{$vo.c_name}</td>
                    <td>{php}echo $vo['status']==1 ? '显示' : '不显示';{/php}</td>
                    <td>{$vo.sort}</td>
                    <td>{$vo.create_time}</td>
                    <td>
                    <a onclick="openLayer('{:url('admin/NpdProductGallery/index',['pid'=>$vo['id']])}',{area: ['86%', '90%'], title:'产品图册 #{$vo.id}'});"
                        href="javascript:void(0);" class="layui-btn layui-btn-primary  layui-btn-xs " title="产品图册"><i
                        class="fa fa-image"></i></a>
                    <a onclick="openLayer('{:url('admin/NpdProduct/edit',['id'=>$vo['id']])}',{area: ['96%', '90%'], title:'编辑产品 #{$vo.id}'});"
                        href="javascript:void(0);" class="layui-btn layui-btn-xs " title="编辑"><i
                        class="layui-icon">&#xe642;</i></a>
                    <a href="{:url('admin/NpdProduct/delete',['id'=>$vo['id']])}"
                        class="layui-btn layui-btn-primary layui-btn-xs ajax-delete" title="删除"><i
                        class="layui-icon">&#xe640;</i></a>
                    <a href="{:url('npd/Product/detail',['id'=>$vo['id']])}" target="_blank"
                        class="layui-btn layui-btn-primary layui-btn-xs" title="view"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <!--分页-->
            {$lists|raw}
            </div>
        </form>
        </div>
    </div>
</div>
{/block}