{extend name="base" /}
{block name="body"}
<div class="amain-body page-upApp">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">
          <table class="layui-table">
              <thead>
              <tr>
                <th>#</th>
                <th>版本</th>
                <th>语言</th>
                <th>平台</th>
                <th>时间</th>
                <th>APP</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
                {foreach name="list" item="vo"}
                <tr>
                    <td>{$vo.version_detail_id}</td>
                    <td><b>{$vo.version_code}</b></td>
                    <td>{$vo.language_code}</td>
                    <td>{$vo.platform}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$app_id_list[$vo['app_id']] ? $app_id_list[$vo['app_id']] : $vo.app_id}</td>
                    <td>
                        <a href="{:url('admin/AppVersionDetail/edit',['id'=>$vo['version_detail_id']])}" class="layui-btn   layui-btn-xs " data-title="編輯"  data-trigger="modal" ><i class="fa fa-edit"></i> 编辑</a>
                        <a href="{:url('admin/AppVersionDetail/add',['copy_id'=>$vo['version_detail_id']])}" class="layui-btn layui-btn-success   layui-btn-xs " data-title="复制添加"  data-trigger="modal" ><i class="fa fa-copy"></i> 复制添加</a>
                    </td>

                </tr>
                {/foreach}

              </tbody>
          </table>


         </div>





        </div>
    </div>
</div>
{/block}
