{extend name="base" /}
{block name="body"}
<div class="amain-body">

    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">


                <form class="layui-form layui-form-pane" action="{:url('admin/ScoreHistory/index')}" method="get">
                    <div class="layui-inline">
                        <input type="hidden" name="pagesize" value="{$pagesize}">
                        <div class="layui-input-inline">
                          <select name="filter[reason]" lay-verify="required" lay-search>
                            <option value="">原因</option>
                            {foreach name="reasons" key="key" item="vo"}
                             <option value="{$key}" {php}echo $filter['reason']== "$key" ? 'selected' : ''; {/php} >{$key>0?'+':'-'} {$vo}</option>
                            {/foreach}
                           </select>
                        </div>
                    </div>
                    <div class="layui-input-inline">
                      <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="时间范围" value="{$filter.time}"  style="width:200px">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <hr>

                <table  class="layui-table">
                    <thead>
                    <tr >
                        <th >#</th>
                        <th>用户</th>
                        <th>原因</th>
                        <th class="t-number">变动</th>
                        <th class="t-number">余额</th>
                        <th>时间</th>

                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>
                          {php}
                            if($vo['account_id']){
                              $ac_url = url('admin/ScoreAccount/detail',['type'=>0,'account_id'=>$vo['account_id']]) ;
                            }else{
                              $ac_url = url('admin/ScoreAccount/detail',['type'=>2,'account'=>$vo['carpool_account']]) ;
                            }
                          {/php}
                          <a onclick="openLayer('{$ac_url}','用户详情');" href="javascript:void(0);" >
                          {$vo.account}{php}echo $vo['account_id'] ? ' <i class="text-red fa fa-id-card"></i>' : '';{/php}
                          </a>
                        </td>
                        <!-- <td>{php}echo $vo['reason'] > 0 ? '收入' : '支出' ;{/php}</td> -->
                        <td>{php}echo $reasons[$vo['reason']]; {/php}</td>
                        <td class="t-number">{php}echo $vo['reason']>=0 ? "<b class='text-green'>+ ".$vo['operand']."</b>" : "<b  class='text-red'>- ".$vo['operand']."</b>"; {/php}</td>
                        <td class="t-number">{php}echo $vo['result'] ?  $vo['result'] : '-';{/php}  </td>
                        <td>{$vo.time|date='Y-m-d H:i'}</td>

                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$lists|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
// initLayuiTable({ limit: {$pagesize} })
// var laydate = layui.laydate;
  //执行一个laydate实例
  laydate.render({
    elem: '#filter_time'
    ,range: '~' //或 range: '~' 来自定义分割字符
  });




</script>
{/block}
