{extend name="base" /}
{block name="body"}
<div class="amain-body">

    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">


                <form class="layui-form layui-form-pane" action="{:url('admin/ScoreHistory/lists')}" method="get">
                    <div class="layui-inline">
                        <input type="hidden" name="type" value="{$type}">
                        <input type="hidden" name="account" value="{$account}">
                        <input type="hidden" name="account_id" value="{$account_id}">
                        <input type="hidden" name="pagesize" value="{$pagesize}">
                        <div class="layui-input-inline">
                            <select name="filter[reason]" lay-verify="required" lay-search>
                                <option value="">{:lang('Reason')}</option>
                                {foreach name="reasons" key="key" item="vo"}
                                <option value="{$key}" {php}echo $filter['reason']== "$key" ? 'selected' : ''; {/php} ><?php echo $key > 0 ? "+" : "-" ; ?> {:lang("sl:".$vo)}</option>
                                {/foreach}
                            </select>
                        </div>

                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="{:lang('Time range')}" value="{$filter.time}"  style="width:200px" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <hr>

                <table  class="layui-table">
                    <thead>
                    <tr >
                        <th >#</th>
                        <!-- <th>加减</th> -->
                        <th>{:lang('Reason')}</th>
                        <th class="t-number">{:lang('Points Change')}</th>
                        <th class="t-number">{:lang('Balance')}</th>
                        <th>{:lang('Time')}</th>
                        <th>{:lang('Operate')}</th>

                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <!-- <td>{php}echo $vo['reason'] > 0 ? '收入' : '支出' ;{/php}</td> -->
                        <td>
                            {php}
                                if(isset($reasons[$vo['reason']])){
                                    echo  $vo['operand'] > 0 ? $reasons[$vo['reason']] : '';
                                } else {
                                    echo $vo['reason'];
                                }
                            {/php}
                            {$vo.extra.message ?? ''}

                        </td>
                        <td class="t-number">{php}echo $vo['reason']>=0 ? "<b class='text-green'>+ ".$vo['operand']."</b>" : "<b  class='text-red'>- ".$vo['operand']."</b>"; {/php}</td>
                        <td class="t-number">{$vo.result}</td>
                        <td><span class="J-times-format" data-format="yyyy-mm-dd hh:ii">{:strtotime($vo.time)*1000}</span></td>
                        <td>
                            <?php if($auth['admin/ScoreHistory/delete'] ){ ?>
                                <a href="{:url('admin/ScoreHistory/delete',['id'=>$vo['id']])}" class="layui-btn layui-btn-danger layui-btn-xs ajax-delete"  ><i class="layui-icon">&#xe640;</i></a>
                            <?php } ?>
                        </td>


                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <!--分页-->
                {$lists|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
// initLayuiTable({ limit: {$pagesize} })
// var laydate = layui.laydate;
  //执行一个laydate实例
laydate.render({
    elem: '#filter_time'
    ,lang:'{$active_lang == "zh-cn" ? "cn" : "en"}'
    ,range: '~' //或 range: '~' 来自定义分割字符
});




</script>
{/block}
