{extend name="base" /}
{block name="body"}
<div class="layui-tab-content P-npdProduct-detail-form">

    <form class="layui-form " action="{:url('admin/npd.product/add')}" method="post" id="editForm" data-jump-target="parent">
        <div class="layui-row">
            <div class="layui-col-md8">

                <div class="layui-form-item">
                    <label class="layui-form-label">产品名</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="" required  lay-verify="required" placeholder="请输入产品名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">产品名 EN</label>
                    <div class="layui-input-block">
                        <input type="text" name="title_en" value=""   placeholder="请输入产品英文名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">客户组合</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="customers">
                        <div class="customers-wrapper">
                            <select lay-ignore name="customers_arr" id="" multiple placeholder="请选择" class="hidden" >  </select>
                        </div>
                    </div>
                </div>
                
                <div class="layui-tab layui-tab-inform">
                    <ul class="layui-tab-title" style="padding-left:12px">
                        <li class="layui-this">中文</li>
                        <li>EN</li>
                    </ul>
                    <div class="layui-tab-content">
                        <!-- 中文 -->
                        <div class="layui-tab-item layui-show">
                            <div class="layui-form-item">
                                <label class="layui-form-label">介绍 
                                    <div><small>Introduction</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[zh][intro]" placeholder=""   id="intro"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">特点 
                                    <div><small>Feature</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[zh][feature]" placeholder=""   id="feature"></textarea>
                                </div>
                            </div>                        
                
                            <div class="layui-form-item">
                                <label class="layui-form-label">测试方法与标准 
                                    <div><small>Testing method and standards</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[zh][testing]" placeholder=""   id="testing"></textarea>
                                </div>
                            </div>
                
                            <div class="layui-form-item">
                                <label class="layui-form-label">大货备注 
                                    <div><small>Notes to bulk</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[zh][bulk_note]" placeholder=""   id="bulk_note"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">交期与报价 
                                    <div><small>Upcharge & Leadtime</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[zh][upcharge_leadtime]" placeholder=""   id="upcharge_leadtime"></textarea>
                                </div>
                            </div>

                        </div>


                        <!-- 英文 -->
                        <div class="layui-tab-item">
                            <div class="layui-form-item">
                                <label class="layui-form-label">Introduction 
                                    <div><small>介绍</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[en][intro]" placeholder=""   id="intro_en"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">Feature 
                                    <div><small>特点</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[en][feature]" placeholder=""   id="feature_en"></textarea>
                                </div>
                            </div>       
                
                            <div class="layui-form-item">
                                <label class="layui-form-label">Testing method and standards
                                    <div><small>测试方法与标准 </small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[en][testing]" placeholder=""   id="testing_en"></textarea>
                                </div>
                            </div>
                
                            <div class="layui-form-item">
                                <label class="layui-form-label"> Notes to bulk
                                    <div><small>大货备注</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[en][bulk_note]" placeholder=""   id="bulk_note_en"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label"> Upcharge & Leadtime
                                    <div><small>交期与报价</small></div>
                                </label>
                                <div class="layui-input-block">
                                    <textarea name="data[en][upcharge_leadtime]" placeholder=""   id="upcharge_leadtime_en"></textarea>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <!-- /end tab -->


                <!-- 产品试验 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"> 产品试验
                        <div><small>Merchandizing kits</small></div>
                    </label>
                    <div class="layui-input-block">
                        <div class="merch-wrapper" id="merch-list">
                            <div class="merch-item item">
                            <div class="title handle">
                                <i class="fa fa-bars handle-icon"></i>
                                <div class="btns">
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="MyDynItem.add(this)"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="MyDynItem.add(this,1)"><i class="fa fa-copy"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-delete" onclick="MyDynItem.del(this,{dl_action:2})"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                                <input name="merch.ppo_no" placeholder="单号(PPO_NO)" class="layui-input" >
                                <textarea name="merch.desc" placeholder="描述" class="layui-textarea" ></textarea>
                                <textarea name="merch.remark" placeholder="备注" class="layui-textarea" ></textarea>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 专利 -->
                <div class="layui-form-item">
                    <label class="layui-form-label"> 专利/商标
                        <div><small>Patent/Trademark</small></div>
                    </label>
                    <div class="layui-input-block">
                        <table class="layui-table">
                            <thead>
                                <tr>
                                <td width="14">#</td>
                                <td width="100">国家地区名</td>
                                <td width="100">国家地区名(EN)</td>
                                <td>专利号</td>
                                <td>类型</td>
                                <td width="75">操作</td>
                                </tr>
                            </thead>
                            <tbody id="patent-list">
                                <tr class="patent-item item">
                                <td class="handle"><i class="fa fa-bars handle-icon"></i></td>
                                <td><input name="patent.cty_name" placeholder="" class="layui-input" ></td>
                                <td><input name="patent.cty_name_en" placeholder="" class="layui-input" ></td>
                                <td><input name="patent.sn" placeholder="" class="layui-input" ></td>
                                <td><input name="patent.type_name" placeholder="" class="layui-input" ></td>
                                <td class="opt">
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="MyDynItem.add(this)"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="MyDynItem.add(this,1)"><i class="fa fa-copy"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-delete" onclick="MyDynItem.del(this,{dl_action:2})"><i class="fa fa-times"></i></a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <div class="merch-wrapper" id="patent-list">
                        <div class="merch-item">
                            <div class="title handle">
                                <i class="fa fa-bars handle-icon"></i>
                                <div class="btns">
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="FORM_PAGE_EXEC.merch_add(this)"><i class="fa fa-plus"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-plus" onclick="FORM_PAGE_EXEC.merch_add(this,1)"><i class="fa fa-copy"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-delete" onclick="FORM_PAGE_EXEC.merch_del(this)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <input name="merchandizing[ppo_no][]" placeholder="单号(PPO_NO)" class="layui-input" >
                            <textarea name="merchandizing[desc][]" placeholder="描述" class="layui-textarea" ></textarea>
                        </div>
                        
                        </div> -->


                    </div>
                </div>
                
                </div>

                <!-- 右栏 -->
                <div class="layui-col-md4">
                        
                <div class="layui-form-item">
                    <label class="layui-form-label">产品分类</label>
                    <div class="layui-input-block">
                    <select name="cid" lay-verify="required">
                        {foreach name="category_level_list" item="vo"}
                        <option value="{$vo.id}" >{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name}</option>
                        {/foreach}
                    </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block j-upload-thumb">  </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                    <input type="number" name="sort" value="0" placeholder="排序，越大越前" class="layui-input">
                    <div class="layui-form-mid layui-word-aux"> 数字越大，排序越前</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">发布时间</label>
                    <div class="layui-input-block">
                    <input type="text" class="layui-input" id="j-publish_time" name="publish_time" value="{:date('Y-m-d H:i:s')}">
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">其它</label>
                    <div class="layui-input-block">
                    <input type="checkbox" name="status" title="显示" value='1' checked> 
                    <input type="checkbox" name="is_recommend" value='1' title="推荐"> 
                    <!-- <input type="checkbox" name="is_top" title="置顶" > -->
                    </div>
                </div>
            
            </div>

        </div>
        <div class="blank50"></div>
        
        <div class="am-bottom-tool-bar am-bottom-tool-bar-form" style="z-index: 10000">
            <div class="btns-wrapper" >
                <a class="layui-btn btn" lay-submit lay-filter="*product_form">保存</a>
                <!-- <button style="display: none">cancel</button> -->
            </div>
        </div>
    </form>

    
</div>
{/block}
{block name="css"}
<link rel="stylesheet" href="__CSS__/jquery.dropdown.min.css">

{/block}
{block name="js"}
<script src="__JS__/ueditor/ueditor.config.js"></script>
<script src="__JS__/ueditor/ueditor.all.min.js"></script>
<script src="__JS__/jquery.dropdown.js"></script>
{/block}
{block name="script"}
    {include file="/npd/product/_form_js" /}
{/block}