{extend name="base" /}
{block name="body"}
<div class="amain-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <!-- <ul class="amain-tool-bar">
            <li class="layui-this"><a href="{:url('admin/npd.product/customers',['pid'=>$pid])}">产品客户</a></li>
        </ul> -->
        <div class="layui-tab-content">
            <blockquote class="layui-elem-quote layui-elem-quote-warning">可使用鼠标拖动以改变排序</blockquote>

            <div class="layui-tab-item layui-show">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 30px;">ID</th>
                        <th style="width: 50px;">缩图</th>
                        <th>标题</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="customer-list">
                    {foreach name="lists" item="vo"}
                    <tr data-id="{$vo.id}">
                        <td class="id">{$vo.id}</td>
                        <td>
                        <div class="cover-pic-wrapper" style=" float: left;width:20px;height:20px;background-image:url('{$vo.thumb}')"></div>
                        </td>
                        <td><div <?php echo  ($vo['is_delete']  ? 'class="is_delete"' : ''); ?>>{$vo.name}</div></td>
                        <td>
                        <a  class="layui-btn layui-btn-primary layui-btn-xs" title="删除" href="javascript:void(0);" onclick="PAGE_EXEC.deleteItem('{$vo.id}')">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
                <div class="add-box">
                    
                </div>
                <div class="blank80"></div>
                <div class="am-bottom-tool-bar am-bottom-tool-bar-1">
                    <a class="layui-btn layui-btn-primary layui-btn-md"  href="javascript:void(0);" onclick="PAGE_EXEC.openAddItemModal()"> 添加客户</a>
                    <a class="layui-btn  layui-btn-md"  href="javascript:void(0);" onclick="PAGE_EXEC.save()"> <i class="fa fa-save"></i> 保存</a>
                </div>
                <div class="am-bottom-tool-bar am-bottom-tool-bar-modal">
                    <a class="layui-btn "  href="javascript:void(0);" onclick="PAGE_EXEC.doAdd()"> 确认</a>                    
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .all-list {
        padding-bottom: 80px;
    }
    .all-list li.item {
        border-bottom: 1px solid #DDD;
        padding: 12px;
    }
    .all-list li.item.disabled {
        opacity: .5;
        background:#fafafa;
        color:#aaa;
    }
    .all-list li.item .cover-pic-wrapper {
        /* display: inline-block; */
        float: left;
        width:20px;height:20px;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top:4px; */
        margin-right:12px;
    }
    .all-list li.item .checkbox {
        margin-top:4px;
        float: right;
    }
    .am-bottom-tool-bar {
        padding:4px 12px;
        text-align: right;
    }
    .am-bottom-tool-bar-modal {
        display: none;
        z-index: 10000;
    }
</style>
{/block}
{block name="script"}
<script>
    PAGE_EXEC = {
        pid: '{$pid}',
        ids: [],
        all_list:null,
        modalObj: null,
        init: function() {
            var _this = this;
            this.setIds();
            //拖动排序
            Sortable.create($("#customer-list")[0], {
                // handle: ".f-box",
                onUpdate: function (evt /**Event*/ ) {
                    var item = evt.item; // the current dragged HTMLElement
                    var oldIndex = evt.oldIndex;
                    var newIndex = evt.newIndex;
                    _this.setIds();
                }
            }); // That's all.

        },
        setIds: function(){
            var ids = [];
            $("#customer-list").children('tr').each(function(index, item) {
                var id = $(item).data('id');
                ids.push(id);
            })
            this.ids = ids;
            console.log(ids);
        },

        deleteItem: function(id) {
            $(`#customer-list tr[data-id='${id}']`).remove();
            this.setIds();
        },

        openAddItemModal: function() {
            var _this = this;
            this.getCustomers( function(list) {
                var ids = _this.ids;
                var content = '<ul class="all-list">';
                var itemHtml = '';
                $(list).each(function(index,item){
                    var isDisabled = ids.indexOf(item.id) > -1 ? 'disabled' :'';
                    var thumbHtml = `<div class="cover-pic-wrapper" style="background-image:url('${item.thumb}')"></div>`
                    var checkboxHtml = isDisabled ? '<i class="checkbox fa fa-check"></i>' : `<input name="sid" value="${item.id}" class="checkbox" type="checkbox" ${isDisabled}>`
                    itemHtml += `<li class="item ${isDisabled}">${checkboxHtml} ${thumbHtml} ${item.name}</li>`;
                });
                content += itemHtml;
                content += '</ul>';
                _this.modalObj = $.kanModal({
                    title: '添加产品客户',
                    content: content,
                    onClose: function() {
                        _this.modalObj.destroy();
                        $('.am-bottom-tool-bar-modal').hide();
                    }
                }).show();
                $('.am-bottom-tool-bar-modal').show();
            });
        },

        /**
         * 取得客户列表
         */
        getCustomers:function(success, type){
            var _this = this;
            type = type || 0;
            if(this.all_list && !type) {
                if(typeof success === 'function') {
                    success(this.all_list);
                }
                return false;
            }
            return $.ajax({
                type:'get',
                dataType:'json',
                url:'{:url("admin/npd.customer/public_lists")}',
                success:function(res){
                    if(res.code === 0){
                        var list = res.data.lists;
                        _this.all_list = list;
                    }
                    if(typeof success === 'function') {
                        success(list);
                    }
                },
                error:function(err){
                    console.log(err);
                    layer.msg('列表加载失败');
                }
            })
        },
        doAdd: function () {
            var _this = this;
            var checkedList = [];
            var itemHtml = '';
            var $sid = $('input[name="sid"]:checked');
            $sid.each(function(index, item){
                var val = parseInt($(item).val());
                checkedList.push(val);
                // _this.ids.push(val);
            });
            console.log(checkedList);

            $(_this.all_list).each(function(index,item){
                console.log(checkedList.indexOf(item.id));
                if (checkedList.indexOf(item.id) > -1) {
                    itemHtml += `<tr data-id="${item.id}">
                        <td class="id">${item.id}</td>
                        <td>
                            <div class="cover-pic-wrapper" style="float: left;width:20px;height:20px;background-image:url('${item.thumb}')"></div>
                        </td>
                        <td>${item.name}</td>
                        <td>
                        <a  class="layui-btn layui-btn-primary layui-btn-xs" title="删除" href="javascript:void(0);" onclick="PAGE_EXEC.deleteItem('${item.id}')">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                        </td>
                    </tr>`
                }
            })
            $("#customer-list").append(itemHtml);
            _this.setIds();
            _this.modalObj.close();
        },
        save:function(){
            var _this = this;
            var data = {
                pid: _this.pid,
                data: _this.ids,
            }
            $.ajax({
                type:'post',
                dataType:'json',
                data: data,
                url:'{:url("admin/npd.product/customers")}',
                success: function(res) {
                    console.log(res);
                    if (res.code === 0) {
                        layer.msg('保存成功');
                        _this.close();
                    }else{
                        layer.msg('保存失败，请稍候再试');
                    }
                },
                error: function(err) {
                    layer.msg('保存失败，请稍候再试');
                    console.log(err);
                }
            })
        },
        close:function() {
            var layerIndex = parent.layer.getFrameIndex(window.name);
            parent.layer.close(layerIndex);
        }

    };
    PAGE_EXEC.init();
</script>
{/block}
