{extend name="base" /}
{block name="body"}
<div class="amain-body page-trips-list">

    <!--tab标签-->
    <div class="layui-tab ">

        <ul class="  amain-tool-bar" >
          <li class="layui-this"><a href="{:url('admin/CarpoolTrips/index')}"  showloading >行程管理</a></li>
          <li ><a href="{:url('admin/CarpoolTrips/index',['type'=>1])}"  showloading >空座位管理</a></li>

        </ul>

        <div class="amain-content">
          <form class="layui-form layui-form-pane" id="filter-form" action="{:url('admin/CarpoolTrips/index')}" method="get" onsubmit="submitForm()">
              <div class="layui-inline">
                  <label class="layui-form-label">检索</label>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword]" value="{$filter['keyword'] ? $filter['keyword'] :''}" placeholder="用户名|账号|电话" class="layui-input" style="width:130px" >
                  </div>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_dept]" value="{$filter['keyword_dept'] ? $filter['keyword_dept'] :''}" placeholder="分厂|部门" class="layui-input" style="width:100px" >
                  </div>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_address]" value="{$filter['keyword_address'] ? $filter['keyword_address'] :''}" placeholder="地点名" class="layui-input" style="width:120px" >
                  </div>
              </div>
              <!-- <div class="blank10">  </div> -->
              <div class="layui-inline">
                  <div class="layui-input-inline">
                    <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="时间范围" value="{$filter['time'] ? $filter['time'] :''}"  style="width:180px" autocomplete="off">
                  </div>
              </div>

              <div class="layui-inline">
                <input type="hidden" name="status" value="{$status}">
                <input type="hidden" name="export" value="0">
                  <button class="layui-btn"><i class="fa fa-search"></i></button>
              </div>
          </form>

          <hr>



          <div class="layui-tab amain-content-tab">
            <div class="tab-title-wrapper">
              <ul class="layui-tab-title">
                <li <?php echo $status==="all" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('all')" href="javascript:void(0);" >全部</a></li>
                <li <?php echo is_numeric($status) || $status=="2" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('2')" href="javascript:void(0);" >行程取消</a></li>
                <li <?php echo $status==="fail" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('fail')" href="javascript:void(0);" >约车失败</a></li>
                <li <?php echo $status==="success" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('success')" href="javascript:void(0);" >约车成功</a></li>
              </ul>
              <!--<form id="form_filter_time" action="<?php echo url('admin/ScoreOrder/index',['status'=>$status]) ?>">
                <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="时间范围" value="{$filter['time'] ? $filter['time'] :''}"  style="width:200px" autocomplete="off">
              </form>-->
            </div>


            <div class="layui-tab-content" style="margin:0 -10px">
              <div class="layui-tab-item layui-show">
                <div class="order-list">
                  <form class="layui-form">
                    <blockquote class="layui-elem-quote">共检得 <b>{$lists->total()}</b> 条数据</blockquote>
                    <table lay-filter="listtable" class="layui-table list-table">
                        <thead>
                        <tr >
                            <th lay-data="{field:'infoid', width:80,fixed: 'left' }" >#</th>
                            <th lay-data="{field:'carnumber', width:120, fixed: 'left' }">车牌</th>
                            <th lay-data="{field:'driver_name', minWidth:180, }">司机</th>
                            <!-- <th lay-data="{field:'driver_phone',width:100,}">司机电话</th> -->
                            <th lay-data="{field:'driver_department' ,width:120}">司机部门</th>
                            <th lay-data="{field:'passenger_name',minWidth:180 }">乘客</th>
                            <!-- <th lay-data="{field:'passenger_phone' ,width:100}">乘客电话</th> -->
                            <th lay-data="{field:'passenger_department' ,width:120}">乘客部门</th>
                            <th lay-data="{field:'time', width:120,}">出发时间</th>
                            <th lay-data="{field:'start_addressname', width:120 }">起点</th>
                            <th lay-data="{field:'end_addressname', width:120 }">终点</th>
                            <th lay-data="{field:'subtime', width:120}">发布时间</th>
                            <th lay-data="{field:'options', width:140,fixed: 'right'}">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name="lists" item="vo"}
                        <tr data-id="{$vo.infoid}" >
                            <td>{$vo.infoid}</td>
                            <td>
                              <small title="{$vo['love_wall_ID']}">{$vo['love_wall_ID'] ? '<i class="fa fa-car"></i>' : '<i class="fa fa-user"></i>'}&nbsp;&nbsp;</small>
                              {$vo.carnumber}
                            </td>
                            <td>
                              <div class="driver status_{$vo.status}">
                                {php}echo $vo['driver_sex']==1 ? '<i class="fa fa-mars"></i>' : ($vo['driver_sex']==2 ? '<i class="fa fa-venus"></i>' : '<i class="fa fa-genderless"></i>' );{/php}
                                <a href="{:url('admin/User/public_detail',['id'=>$vo['driver_id']])}"   data-title="用户详情"  data-trigger="modal" title="用户详情" >
                                  {$vo.driver_name} ({$vo.driver_loginname})
                                </a>
                              </div>
                            </td>
                            <!-- <td>{$vo.driver_phone}</td> -->
                            <td>
                              {$vo.driver_department} / {php}echo $vo['driver_companyname']!='' ? $vo['driver_companyname'] : '-' ;{/php} /
                              <?php echo isset($companys[$vo['driver_company_id']]) ? $companys[$vo['driver_company_id']] : $vo['driver_company_id']; ?>
                            </td>

                            <td>
                              <div class="passenger status_{$vo.status}">
                                {php}echo $vo['passenger_sex']==1 ? '<i class="fa fa-mars"></i>' : ($vo['passenger_sex']==2 ? '<i class="fa fa-venus"></i>' : '<i class="fa fa-genderless"></i>' );{/php}
                                <a href="{:url('admin/User/public_detail',['id'=>$vo['passenger_id']])}"   data-title="用户详情"  data-trigger="modal" title="用户详情">
                                {$vo.passenger_name} ({$vo.passenger_loginname})
                                </a>
                              </div>
                            </td>
                            <!-- <td>{$vo.passenger_phone}</td> -->
                            <td>
                              {$vo.passenger_department} / {php}echo $vo['passenger_companyname'] ? $vo['passenger_companyname'] : '-' ;{/php} /
                              <?php echo isset($companys[$vo['passenger_company_id']]) ? $companys[$vo['passenger_company_id']] : $vo['driver_company_id']; ?>
                            </td>
                            <td>{$vo.time}</td>
                            <td><div class="start status_{$vo.status}">{$vo.start_addressname}</div></td>
                            <td><div class="end status_{$vo.status}">{$vo.end_addressname}</div></td>
                            <td>{$vo.subtime}</td>
                            <td>
                              <a onclick="openLayer('{:url('admin/CarpoolTrips/detail',['id'=>$vo['infoid'],'type'=>0])}',{area:['500px','90%'],title:'行程：{$vo.start_addressname} > {$vo.end_addressname}'});" href="javascript:void(0);"  class="layui-btn  layui-btn-xs " >详情</a>
                              <a onclick="openLayer('http://getazlnx001.chinacloudapp.cn/carpool/shuttle/tripline.html?info_id={$vo.infoid}',{area:['500px','90%'],title:'移动轨迹{$vo.start_addressname} > {$vo.end_addressname}'});" href="javascript:void(0);"  class="layui-btn layui-btn-primary  layui-btn-xs " >移动轨迹</a>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                  </form>
                </div>

              </div>

            </div>
         </div>
          <!--分页-->
          {$lists|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
function exportExcel(){
  var form = $("#filter-form");
  form.find("input[name='export']").val(1);
  form.attr('target','_blank') ;
  form.submit();
  form.find("input[name='export']").val(0);
  form.attr('target','_self') ;
}
function changeStatus(status){
  var form = $("#filter-form");
  form.find("input[name='status']").val(status);
  form.submit();
}
function submitForm(){
  var form = $("#filter-form");
  var isExport = form.find("input[name='export']").val();
  if(isExport!=1){
    layer.load(1);
  }
}
// initLayuiTable({ limit: {$pagesize} })
laydate.render({
  elem: '#filter_time'
  ,range: '~' //或 range: '~' 来自定义分割字符
  ,done: function(value, date, endDate){
    /*layer.load(1);
    var url = "<?php echo url('admin/ScoreOrder/index',['status'=>$status]) ?>";
    // location.href = url;
    var form = $("<form method='get'></form>");
    form.attr({ "action": url });
     var input = $("<input type='hidden'>");
     input.attr({ "name": "filter[time]" });
     input.val(value);
     form.append(input);
     $(document.body).append(form);
    form.submit();*/
 }
});
$(".layui-tab-title li a").click(function(){
  layer.load(1);
})
initLayuiTable({ limit: {$pagesize} })

</script>
{/block}
