{extend name="base" /}
{block name="body"}
<div class="amain-body P-trip-detail">
    <div class="P-trip-detail-inner" style="height: 60%;">
        <div class="trip-time"><span class="J-times-format"
                data-format="yyyy-mm-dd hh:ii">{:strtotime($data.time)*1000}</span></div>
        <div class="trip-start-end">
            <div class="start">
                <i class='fa fa-map-marker'></i> {$data.start_addressname}
            </div>
            <div class="line">
                >
            </div>
            <div class="end">
                <i class='fa fa-map-marker'></i> {$data.end_addressname}
            </div>
        </div>
        <div class="map-content" id='map-content'>
            loading map <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="member-bar">
            <div class="member-bar-inner">
                <a class="member-item driver" href="{:url('admin/User/public_detail',['id'=>$data['d_uid']])}"
                    data-title="{:lang('User detail')}" data-trigger="modal" title="{:lang('User detail')}">
                    <div class="avatar" style="background-image:url('{$data.d_avatar}')"></div>
                    <div class="member-info ">
                        <p class="type">{:lang('Driver')}</p>
                        <p class="name layui-elip"><b title="{$data.d_name} / {$data.d_loginname}">{$data.d_name}</b>
                        </p>
                        <!-- <p class="loginname layui-elip"><small>{$data.d_loginname}</small></p> -->
                        <p class="phone">{$data.d_phone}</p>
                    </div>
                </a>
                {foreach name="data.passengers" item="vo"}
                <a class="member-item passenger" href="{:url('admin/User/public_detail',['id'=>$vo['uid']])}"
                    data-title="{:lang('User detail')}" data-trigger="modal" title="{:lang('User detail')}">
                    <div class="avatar" style="background-image:url('{$vo.avatar}')"></div>
                    <div class="member-info ">
                        <p class="type">{:lang('Passenger')}</p>
                        <p class="name layui-elip"><b title="{$vo.name} / {$vo.loginname}">{$vo.name}</b></p>
                        <p class="phone">{$vo.phone}</p>
                    </div>
                </a>
                {/foreach}

            </div>
        </div>

    </div>

    <table class="info-table layui-table">
        <tbody>
            <tr>
                <td class="td-label" width="100">#</td>
                <td>{$data.love_wall_ID}</td>
            </tr>
            <tr>
                <td class="td-label">{:lang('Departure station')}</td>
                <td><i class="fa fa-time"></i>{$data.start_addressname}</td>
            </tr>
            <tr>
                <td class="td-label">{:lang('Destination')}</td>
                <td>{$data.end_addressname}</td>
            </tr>
            <tr>
                <td class="td-label">{:lang('Departure time')}</td>
                <td><span class="J-times-format" data-format="yyyy-mm-dd hh:ii">{:strtotime($data.time)*1000}</span>
                </td>
            </tr>
            <tr>
                <td class="td-label">{:lang('Creation time')}</td>
                <td><span class="J-times-format" data-format="yyyy-mm-dd hh:ii">{:strtotime($data.subtime)*1000}</span>
                </td>
            </tr>
            <tr>
                <td class="td-label" width="100">{:lang('Driver')}</td>
                <td>
                    {php}echo $data['d_sex']==1 ? '<i class="fa fa-mars"></i>' : ($data['d_sex']==2 ? '<i
                        class="fa fa-venus"></i>' : '<i class="fa fa-genderless"></i>' );{/php}
                    <a href="{:url('admin/User/public_detail',['id'=>$data['d_uid']])}"
                        data-title="{:lang('User detail')}" data-trigger="modal" title="{:lang('User detail')}"
                        style="color:#3d7ea3;">
                        {$data.d_name} ({$data.d_loginname})
                    </a>
                    <p class="department">
                        {$data.d_department} / {php}echo $data['d_companyname']!='' ? $data['d_companyname'] : '-'
                        ;{/php} /
                        <?php echo isset($companys[$data['d_company_id']]) ? $companys[$data['d_company_id']] : $data['d_company_id']; ?>
                    </p>

                </td>
            </tr>
            {foreach name="data.passengers" item="vo"}
            <tr>
                <td class="td-label">{:lang('Passenger')}</td>
                <td>
                    <a onclick="openLayer('http://gitsite.net/carpool/shuttle/tripline.html?info_id={$vo.infoid}&lang={$active_lang}',{area:['500px','90%'],title:'GPS {$data.start_addressname} > {$data.end_addressname}'});"
                        href="javascript:void(0);" style="float:right" class="layui-btn layui-btn-primary  layui-btn-xs ">GPS</a>
                    <a onclick="openParentLayer('{:url('admin/CarpoolTrips/detail',['id'=>$vo['infoid'],'type'=>0])}',{area:['500px','90%'],title:'Trip: {$data.start_addressname} > {$data.end_addressname}'});"
                        href="javascript:void(0);" style="float:right; margin-right:4px"
                        class="layui-btn  layui-btn-xs ">Trip</a>

                    {php}echo $vo['sex']==1 ? '<i class="fa fa-mars"></i>' : ($vo['sex']==2 ? '<i class="fa fa-venus"></i>' : '<i class="fa fa-genderless"></i>' );{/php}
                    <a href="{:url('admin/User/public_detail',['id'=>$data['d_uid']])}"
                        data-title="{:lang('User detail')}" data-trigger="modal" title="{:lang('User detail')}"
                        style="color:#3d7ea3;">
                        {$vo.name} ({$vo.loginname})
                    </a>
                    <p class="department">
                        {$vo.department} / {php}echo $vo['companyname']!='' ? $vo['companyname'] : '-' ;{/php} /
                        <?php echo isset($companys[$vo['company_id']]) ? $companys[$vo['company_id']] : $vo['company_id']; ?>
                    </p>

                </td>
            </tr>
            {/foreach}


        </tbody>
    </table>


</div>

{/block}
{block name="js"}


{/block}
{block name="script"}
<script>
    function showMap(targetId) {
        var lang = "{$active_lang}";
        var map_type = "{$data.map_type}"
        map_type = map_type === "1" ? 1 : 0;
        var dataSetting = {
            zoom: 12,
            gridMapForeign: map_type,
        };

        if (map_type) {
            dataSetting.features = ['bg', 'point', 'building'];
        }
        if (lang != 'zh-cn') {
            // dataSetting.lang = 'en'
        } else {
            dataSetting.lang = 'zh'
        }
        var map = new AMap.Map(targetId, dataSetting);

        return map;
    }



    var data = {
        start: ["{$data.start_longitude}", "{$data.start_latitude}"],
        end: ["{$data.end_longitude}", "{$data.end_latitude}"]
    }
    var amapUrl = "<?php echo $data['map_type'] ? config('secret.amap_key.overseas') :  config('secret.amap_key.default'); ?>";
    cLoadScript(GV.config.url.amapScript + amapUrl, function () {
        cLoadScript('__JS__/cAmap.js', function () {
            var map = showMap('map-content');
            cAmap.drawTripLine(data.start, data.end, {
                map: map,
                hideMarkers: true,
            });
            cAmap.addMarker(new AMap.LngLat(data.start[0], data.start[1]), map, {
                icon: "__IMAGES__/icon/map/start_point.png"
            })
            cAmap.addMarker(new AMap.LngLat(data.end[0], data.end[1]), map, {
                icon: "__IMAGES__/icon/map/end_point.png"
            })
        })
    });
</script>
{/block}