{extend name="base" /}
{block name="body"}
<div class="amain-body P-trips-list">

    <!--tab标签-->
    <div class="layui-tab ">

            <ul class=" amain-tool-bar" >
            <li ><a href="{:url('admin/CarpoolTrips/index')}"  showloading >{:lang('trips:行程管理')}</a></li>
            <li class="layui-this"><a href="{:url('admin/CarpoolTrips/index',['type'=>1])}"  showloading >{:lang('trips:空座位管理')}</a></li>
            <?php if(checkAuth('admin/CarpoolTrips/export')){ ?>
            <li class="btn-item-right">
                <a class="layui-btn layui-btn-sm  layui-btn-excel " href="javascript:void(0);" onclick="exportExcel(0)"  ><i class="fa fa-file-excel-o"></i> {:lang('Export')} CSV</a>
                <a class="layui-btn layui-btn-sm  layui-btn-excel " href="javascript:void(0);" onclick="exportExcel(1)"  ><i class="fa fa-file-excel-o"></i> {:lang('Export')} XLS (GBK)</a>
            </li>
            <?php } ?>
            </ul>

            <div class="amain-content">
            <form class="layui-form layui-form-pane" id="filter-form" action="{:url('admin/CarpoolTrips/index',['type'=>1])}" method="get" onsubmit="submitForm()">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="filter[keyword]" value="{$filter['keyword'] ? $filter['keyword'] :''}" placeholder="{:lang('Account keyword')}" class="layui-input" style="width:140px" >
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="filter[keyword_dept]" value="{$filter['keyword_dept'] ? $filter['keyword_dept'] :''}" placeholder="{:lang('Department keyword')}" class="layui-input" style="width:100px" >
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" name="filter[keyword_address]" value="{$filter['keyword_address'] ? $filter['keyword_address'] :''}" placeholder="{:lang('Address keyword')}" class="layui-input" style="width:120px" >
                    </div>
                </div>
                <!-- <div class="blank10">  </div> -->
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="{:lang('Time range')}" value="{$filter['time'] ? $filter['time'] :''}"  style="width:180px" autocomplete="off">
                    </div>
                </div>

                <div class="layui-inline">
                    <input type="hidden" name="status" value="{$status}">
                    <input type="hidden" name="export" value="0">
                    <input type="hidden" name="encoding" value="0">
                    <input type="hidden" name="type" value="{$type}">
                    <button class="layui-btn"><i class="fa fa-search"></i></button>
                </div>
            </form>

            <hr>



            <div class="layui-tab amain-content-tab">
                <div class="tab-title-wrapper">
                <ul class="layui-tab-title">
                    <li <?php echo $status==="all" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('all')" href="javascript:void(0);" >{:lang('All')}</a></li>
                    <li <?php echo is_numeric($status) || $status=="2" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('2')" href="javascript:void(0);" >{:lang('trips:cancel')}</a></li>
                    <li <?php echo $status==="fail" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('fail')" href="javascript:void(0);" >{:lang('trips:failed')}</a></li>
                    <li <?php echo $status==="success" ? 'class="layui-this"' : '' ; ?> ><a onclick="changeStatus('success')" href="javascript:void(0);" >{:lang('trips:success')}</a></li>
                </ul>
                <!--<form id="form_filter_time" action="<?php echo url('admin/ScoreOrder/index',['status'=>$status]) ?>">
                    <input type="text" name="filter[time]" class="layui-input" id="filter_time" placeholder="时间范围" value="{$filter['time'] ? $filter['time'] :''}"  style="width:200px" autocomplete="off">
                </form>-->
                </div>


                <div class="layui-tab-content" style="margin:0 -10px">
                <div class="layui-tab-item layui-show">
                    <div class="order-list">
                    <form class="layui-form">
                        <blockquote class="layui-elem-quote">  <?php echo lang('A total of %s data were found',['<b>'.$pagination['total'].'</b>']) ?></blockquote>
                        <table lay-filter="listtable" class="layui-table list-table">
                            <thead>
                            <tr >
                                <th lay-data="{field:'infoid', width:80,fixed: 'left' }" >#</th>
                                <th lay-data="{field:'d_carnumber', width:120, fixed: 'left' }">{:lang('License plate')}</th>
                                <th lay-data="{field:'d_nativename', minWidth:180, }">{:lang('Driver')}</th>
                                <!-- <th lay-data="{field:'d_phone',width:100,}">司机电话</th> -->
                                <th lay-data="{field:'d_department' ,width:120}">{:lang('Driver department')}</th>
                                <th lay-data="{field:'seat_count' ,width:80}">{:lang('trip:空位数')}</th>
                                <th lay-data="{field:'took_count',Width:60 }">{:lang('trip:乘客数')}</th>

                                <th lay-data="{field:'time', width:120,}">{:lang('Departure time')}</th>
                                <th lay-data="{field:'start_addressname', width:120, style:'color:#d4772b;' }">{:lang('Departure station')}</th>
                                <th lay-data="{field:'end_addressname', width:120,style:'color:#ba5d48;' }">{:lang('Destination')}</th>
                                <th lay-data="{field:'map_type', width:60 }">map_type</th>
                                <th lay-data="{field:'subtime', width:120}">{:lang('Creation time')}</th>
                                <th lay-data="{field:'options', width:100,fixed: 'right'}">{:lang('Operate')}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="lists" item="vo"}
                            <tr   data-id="{$vo.love_wall_ID}" >
                                <td>{$vo.love_wall_ID}</td>
                                <td>
                                <small title="{$vo['love_wall_ID']}"> <i class="fa fa-car"></i></small>
                                {$vo.d_carnumber}
                                </td>
                                <td>
                                <div class="driver status_{$vo.status}">
                                    {php}echo $vo['d_sex']==1 ? '<i class="fa fa-mars"></i>' : ($vo['d_sex']==2 ? '<i class="fa fa-venus"></i>' : '<i class="fa fa-genderless"></i>' );{/php}
                                    <a href="{:url('admin/User/public_detail',['id'=>$vo['d_uid']])}"   data-title="{:lang('User detail')}"  data-trigger="modal" title="{:lang('User detail')}">
                                    {$vo.d_nativename ?: $vo.d_name} ({$vo.d_loginname})
                                    </a>
                                </div>
                                </td>
                                <td>
                                {$vo.d_department} / {php}echo $vo['d_companyname']!='' ? $vo['d_companyname'] : '-' ;{/php} /
                                <?php echo isset($companys[$vo['d_company_id']]) ? $companys[$vo['d_company_id']] : $vo['d_company_id']; ?>
                                </td>
                                <td>
                                {$vo.seat_count}
                                </td>
                                <td>{$vo.took_count}</td>
                                <td><span class="J-times-format" data-format="yyyy-mm-dd hh:ii">{:strtotime($vo.time)*1000}</span></td>
                                <td>{$vo.start_addressname}</td>
                                <td>{$vo.end_addressname}</td>
                                <td>{$vo.map_type}</td>
                                <td><span class="J-times-format" data-format="yyyy-mm-dd hh:ii">{:strtotime($vo.subtime)*1000}</span></td>
                                <td>
                                <a onclick="openLayer('{:url('admin/CarpoolTrips/detail',['id'=>$vo['love_wall_ID'],'type'=>1])}',{area:['700px','90%'],title:'【{$vo.d_name}】{:lang('Available Car')}'});" href="javascript:void(0);"  class="layui-btn  layui-btn-xs " >{:lang('Details')}</a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </form>
                    </div>

                </div>

                </div>
            </div>
            <!--分页-->
            {$pagination.render|raw}

        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>
function exportExcel(type){
    var form = $("#filter-form");
    var o_action = form.attr('action');
    form.attr('action',"{:url('admin/CarpoolTrips/export')}");
    form.find("input[name='export']").val(1);
    form.find("input[name='encoding']").val(type);
    form.attr('target','_blank') ;
    form.submit();
    form.find("input[name='export']").val(0);
    form.attr('target','_self') ;
    form.attr('action',o_action);
}

function changeStatus(status){
    var form = $("#filter-form");
    form.find("input[name='status']").val(status);
    form.submit();
}
function submitForm(){
    var form = $("#filter-form");
    var isExport = form.find("input[name='export']").val();
    if(isExport!=1){
        layer.load(1);
  }
}
// initLayuiTable({ limit: {$pagesize} })
laydate.render({
    elem: '#filter_time'
    ,range: '~' //或 range: '~' 来自定义分割字符
    ,lang:'{$active_lang == "zh-cn" ? "cn" : "en"}'
    ,done: function(value, date, endDate){
        /*layer.load(1);
        var url = "<?php echo url('admin/ScoreOrder/index',['status'=>$status]) ?>";
        // location.href = url;
        var form = $("<form method='get'></form>");
        form.attr({ "action": url });
        var input = $("<input type='hidden'>");
        input.attr({ "name": "filter[time]" });
        input.val(value);
        form.append(input);
        $(document.body).append(form);
        form.submit();*/
    }
});
$(".layui-tab-title li a").click(function(){
    layer.load(1);
})
initLayuiTable({ limit: {$pagesize} })

</script>
{/block}
