<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form class="layui-form form-container" action="{:url('admin/ContentCategory/edit')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-block">
                    <select name="parent_id" lay-verify="required">
                        <option value="0">一级菜单</option>
                        {foreach name="category_level_list" item="vo"}
                        <option value="{$vo.id}" {if condition="$data.id==$vo.id"} disabled="disabled"{/if} {if condition="$data.parent_id==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.name_zh}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">模型类别</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="required">
                        <option value="0">未定义</option>
                        {foreach name="typeList" key="key" item="vo"}
                        <option value="{$key}" {if condition="$data.type==$key"} selected{/if}>{$vo}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称 ZH</label>
                <div class="layui-input-block">
                    <input type="text" name="name_zh" value="{$data.name_zh}" required  lay-verify="required" placeholder="请输入中文分类名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称 EN</label>
                <div class="layui-input-block">
                    <input type="text" name="name_en" value="{$data.name_en}"   placeholder="请输入英文分类名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分类名称 VI</label>
                <div class="layui-input-block">
                    <input type="text" name="name_vi" value="{$data.name_vi}" placeholder="请输入越南文分类名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="number" name="sort" value="{$data.sort}" placeholder="排序，越大越前" class="layui-input">
                    <div class="layui-form-mid layui-word-aux"> 数字越大，排序越前</div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$data.id}">
                    <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  form.render();
</script>
