<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form class="layui-form form-container" action="{:url('admin/menu/add')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">上级菜单</label>
                <div class="layui-input-block">
                    <select name="pid" lay-verify="required">
                        <option value="0">一级菜单</option>
                        {foreach name="admin_menu_level_list" item="vo"}
                        <option value="{$vo.id}" {if condition="$pid==$vo.id"} selected="selected"{/if}>{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' ----';}{/php}{/neq} {$vo.title}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-block">
                    <input type="text" name="title" value="" required  lay-verify="required" placeholder="请输入菜单名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称 EN</label>
                <div class="layui-input-block">
                    <input type="text" name="title_en" value=""  placeholder="请输入英文菜单名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称 VI</label>
                <div class="layui-input-block">
                    <input type="text" name="title_vi" value=""  placeholder="请输入越南文菜单名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">控制器方法</label>
                <div class="layui-input-block">
                    <input type="text" name="name" value="" required  lay-verify="required" placeholder="请输入控制器方法 如：admin/Index/index" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-block">
                    <input type="text" name="icon" value="" placeholder="（选填）如：fa fa-home" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="显示" checked="checked">
                    <input type="radio" name="status" value="0" title="隐藏">
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">模态框打开</label>
                <div class="layui-input-block">
                    <input type="radio" name="is_by_modal" value="1" title="是"  >
                    <input type="radio" name="is_by_modal" value="0" title="否"  >
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block">
                    <input type="text" name="sort" value="0" required  lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  form.render();
</script>
