<div class="layui-tab-content P-npd-gallery-form">
        <div class="layui-tab-item layui-show">
            <form class="layui-form form-container" action="{$form_action}" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="{$data.title}"  placeholder="中文标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">Title</label>
                    <div class="layui-input-block">
                        <input type="text" name="title_en" value="{$data.title_en}"  placeholder="英文标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang('Image')}</label>
                    <div class="layui-input-block j-upload-thumb" data-default="{$data.url}">  </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">{:lang("Is visible?")}</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="is_active" value="1" lay-skin="switch" lay-text="{:lang('Visible')}|{:lang('Not visible')}"  {if condition="$data.is_active==1"} checked="checked"{/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" value="{$data.sort}" placeholder="排序" class="layui-input">
                        <div class="layui-form-mid layui-word-aux"> 越大越前</div>
                    </div>
                </div>
    
    
    
    
                <div class="blank20"></div>
    
                <div class="layui-btn-container layui-row">
                    <input type="hidden" name="id" value="{$id}" >
                    <button class="layui-btn layui-btn-lg layui-col-xs12" lay-submit lay-filter="*">{:lang("SUBMIT")}</button>
                </div>
    
            </form>
        </div>
    </div>
    <script>
    
    FORM_PAGE_EXEC = {
        
    
        init: function(){
             /** thumb upload **/
            var $thumbInput =  cRenderUploadBtn({
                wrapper:'.j-upload-thumb',
                inputName:'url',
                url: "{:url('admin/Uploader/images')}",
                data: {"module":"admin/NPD/product/gallery"},
            })
            form.render();

        },
    }
    
    
    FORM_PAGE_EXEC.init();
    
    </script>
    