{extend name="base" /}
{block name="body"}
<div class="amain-body">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">
        <ul class="amain-tool-bar" >
            <li class="layui-this"><a href="{:url('index')}"  >SYNC HR</a></li>


            <li class="btn-item btn-item-right">
              <a class="layui-btn layui-btn-sm  layui-btn-primary" href="javascript:void(0);"  onclick="PAGE_EXEC.create_department()"    > 生成部门数据 </a>
            </li>
            <li class="btn-item btn-item-right">
              <a class="layui-btn layui-btn-sm   layui-btn-primary" href="javascript:void(0);" onclick="PAGE_EXEC.sync('all')"  ><i class="fa "></i> 同步到正式库</a>
            </li>
            <li class="btn-item btn-item-right">

              <input type="text" name="date" value="<?php echo $lastTime ? date('Y-m-d',$lastTime) : date('Y-m-d'); ?>" placeholder="{:date('Y-m-d')}" class="layui-input layui-input-sm"   >
              <a class="layui-btn layui-btn-sm   layui-btn-primary" href="javascript:void(0);" onclick="PAGE_EXEC.download_from_hr()"  ><i class="fa fa-cloud-download"></i> 执行拉取</a>
            </li>


        </ul>

        <div class="layui-tab-content">
          <form class="layui-form layui-form-pane"  action="" method="get">
              <div class="layui-inline">
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword]" value="{$filter['keyword'] ? $filter['keyword'] :''}" placeholder="用户名|姓名" class="layui-input" style="width:140px" >
                  </div>
                  <div class="layui-input-inline">
                      <input type="text" name="filter[keyword_dept]" value="{$filter['keyword_dept'] ? $filter['keyword_dept'] :''}" placeholder="部门" class="layui-input" style="width:100px" >
                  </div>
                  <div class="layui-input-inline">
                    <select name="filter[status]">
                        <option value=""  > 不限</option>
                        <option value="-2" <?php if(isset($filter['status']) && is_numeric($filter['status']) && $filter['status'] == -2 ){echo 'selected="selected"';} ?>> 过期</option>
                        <option value="-1" <?php if(isset($filter['status']) && is_numeric($filter['status']) && $filter['status'] == -1 ){echo 'selected="selected"';} ?>> 失败</option>
                        <option value="0" <?php if(isset($filter['status']) && is_numeric($filter['status']) && $filter['status'] == 0 ){echo 'selected="selected"';} ?>> 未执行</option>
                        <option value="1" <?php if(isset($filter['status']) && is_numeric($filter['status']) && $filter['status'] == 1 ){echo 'selected="selected"';} ?>> 成功:增</option>
                        <option value="2" <?php if(isset($filter['status']) && is_numeric($filter['status']) && $filter['status'] == 2 ){echo 'selected="selected"';} ?>> 成功:改</option>
                    </select>
                  </div>

              </div>
              <div class="layui-inline">
                  <input type="hidden" name="export" value="0">
                  <button class="layui-btn"><i class="fa fa-search"></i></button>
              </div>
              <span style="font-size:12px; float:right">Last: {$lastTime|date="Y-m-d H:i:s"}</span>
          </form>
          <hr />
          <blockquote class="layui-elem-quote">共检得 <b>{$lists->total()}</b> 条数据</blockquote>
           <hr>

            <table class="layui-table">
                <thead>
                <tr>
                    <th  >工号</th>
                    <th  >姓名</th>
                    <th  >SEX</th>
                    <th  width="200">部门</th>
                    <th  width="90">状态</th>
                    <th  width="80">HR更新时间</th>
                    <th  width="80">拉取时间</th>
                    <th  width="80">同步时间</th>
                    <th  >操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach name="lists" item="vo"}
                <tr data-id='{$vo.id}'>
                    <td>{$vo.code}</td>
                    <td>{$vo.name}</td>
                    <td>{php}echo $vo['sex']==1 ? '男' : ($vo['sex']==2 ? '女' : "-") ;{/php}</td>
                    <td>{$vo.department}</td>
                    <td class="status">
                      <?php
                       $statusArray = [
                         "-2"=>"过期",
                         "-1"=>"同步失败",
                         "0"=>"未同步",
                         "1"=>"同步成功:增",
                         "2"=>"同步成功:改",
                       ];
                       $statusStr = isset($statusArray[$vo['status']]) ? $statusArray[$vo['status']] : $vo['status'] ;
                       echo $vo['status'] < 1 &&  $vo['status'] > -2 ? '
                       <a class="layui-btn layui-btn-xs layui-btn-danger" href="javascript:void(0)" onclick="return PAGE_EXEC.sync(\'single\');">
                         '.$statusStr.'</a><b></b>' : $statusStr;
                      ?>
                    </td>
                    <td>{$vo.modifty_time}</td>
                    <td>{$vo.create_time}</td>
                    <td>{$vo.sync_time}</td>
                    <td>
                      <!-- <a href="{:url('sync',['id'=>$vo['id']])}"  class="layui-btn   layui-btn-xs " data-title="云信账号"  data-trigger="modal" title="編輯云帐号">IM</a> -->
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
            <!--分页-->
            {$lists|raw}


        </div>
    </div>
</div>

{/block}
{block name="script"}
<script>

var PAGE_EXEC = {
  data : {
    statusArray : {
      "-2":"过期",
      "-1":"同步失败",
      "0":"未同步",
      "1":"同步成功:增",
      "2":"同步成功:改",
    }

  },
  download_from_hr : function(){
    var $target = $(event.target);
    var $date = $target.siblings('input[name="date"]');
    var date = $.trim($date.val());

    var url = "{:url('sync_all',['type'=>'0'])}";
    var loading = layer.load(2,{ shade: [0.2,'#fff']});

    $.getJSON(url,{date:date}).then(function(res, textStatus) {
      layer.msg(res.desc);
      if(res.code===0){
        setTimeout(function(){
          reload();
        },600)
      }
      layer.close(loading);
    });
    return false;
  },
  sync : function(type,tid){
    var _this = this;
    if(type == 'all'){
      openLayer('{:url('sync_all',['type'=>1,'page'=>1,'return'=>1])}','同步');
    }else if(type =="single"){
      var $target = $(event.target);
      var $row = $target.closest('tr')
      var $wrapper = $target.closest('td')
      var $loadingBox = $wrapper.find('b');
      var tid = $row.data("id");
      var url = "{:url('sync_single')}";
      $loadingBox.html('<i class="fa fa-spinner fa-spin"></i>').show();
      $target.hide();

      $.getJSON(url,{tid:tid}).then(function(res, textStatus) {
        // console.log(res);
        layer.msg(res.desc);
        if(res.code===0){
          var status =  res.data.status ;
          var statusStr = typeof(_this.data.statusArray[status])!="undefined" ? _this.data.statusArray[status] : status;
          // console.log(statusStr);
          $wrapper.html(statusStr);
        }else{
          var status = typeof(res.data.status)!="undefined" ? res.data.status : 0;
          if(status){
            var statusStr = typeof(_this.data.statusArray[status])!="undefined" ? _this.data.statusArray[status] : status;
            $wrapper.html(statusStr);
          }else{
            $target.text('同步失败').show();
            $loadingBox.hide();
          }

        }
      });
    }
    return false;
  },
  create_department: function(){
    openLayer('{:url('admin/department/create_all_department')}',{area:['800px','90%'],title:'生成部门'} );
    return false;
  }
}
</script>

{/block}
