<div class="amain-body P-user-detail">

    <div style="text-align:center; margin:-38px 0 10px;">
      <div class="cp-avatar" style="background-image:url('{$data.avatar}')"></div>
    </div>
    <?php
    if($data['is_delete']){
      echo '<blockquote class="layui-elem-quote">该账号已被逻辑删除</blockquote>';
    }
    ?>

    <table class="layui-table">
      <tbody>
        <tr>
          <td class="label" width="100">用户名</td>
          <td>{$data.loginname}</td>
        </tr>
        <tr>
          <td class="label">手机</td>
          <td>{$data.phone}</td>
        </tr>
        <tr>
          <td class="label">显示名</td>
          <td>{$data.name}</td>
        </tr>
        <tr>
          <td class="label">真名</td>
          <td>{$data.nativename}</td>
        </tr>
        <tr>
          <td class="label">郵箱</td>
          <td>{$data.mail}</td>
        </tr>
        <tr>
          <td class="label">性别</td>
          <td>
            {if condition="$data.sex==1"}男{/if}
            {if condition="$data.sex==2"}女{/if}
            {if condition="$data.sex==0"}-{/if}
          </td>
        </tr>
        <tr>
          <td class="label">所属公司</td>
          <td>{$companys[$data['company_id']] ? $companys[$data['company_id']] : $data['company_id'] }</td>
        </tr>
        <tr>
          <td class="label">部门</td>
          <td>{$data.Department} 【{$data.department_format}】</td>
        </tr>
        <tr>
          <td class="label">部门 Full</td>
          <td>{$data.full_department}</td>
        </tr>
      </tbody>
    </table>
    <div class="modal-bottom-btns-bar">
      <button type="button" class="close layui-btn layui-btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> 取消</button>

      <?php if($auth['admin/pushmsg/add'] ){ ?>
        <a href="{:url('admin/pushmsg/add',['uid'=>$data['uid']])}" class="layui-btn layui-btn-success " data-target="#modal-pushmsg" data-title="推送消息" data-top="30px" data-width="580px"  data-trigger="modal" title="发送推送">
          <i class="fa fa-envelope"></i> 推送消息
        </a>
      <?php } ?>
    </div>
</div>

<script>
// form.render();




</script>
