<div class="amain-body ">
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">

            <form class="layui-form  " action="{:url('admin/Ads/add')}" method="post" style="margin-right:15px;"
                id="editForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">授权区域</label>
                    <div class="layui-input-block">
                        <input type="hidden" name="region_id" value="" class="layui-input layui-input-inline " readonly>
                        <a onclick="openLayer('{:url('admin/Department/list_dialog',['multi'=>1])}','选择区域/部门');"
                            href="javascript:void(0);" class="layui-btn  layui-btn-primary J-btn-department"
                            data-target="region_id:id" data-show-target=".J-dept-select-wrapper"
                            data-paramstr='{"default_id":""}'>
                            <i class="fa fa-book"></i> <span>选择区域/部门</span>
                        </a>
                        <div class="J-dept-select-wrapper"></div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" value="" required lay-verify="required" placeholder="请输入标题"
                            class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block">
                        <input type="text" name="thumb" value="{$data.thumb ? $data.thumb  : ''}" class="layui-input">
                        <a class="amain-uploadImgBtn" id="upload-btn">
                            <img class="layui-upload-img" id="item-thumb" src="{$data.thumb ? $data.thumb  : ''}">
                            <div class="text">
                                <i class="fa fa-upload"></i>上传图片
                            </div>
                        </a>
                        <p id="uploadText"></p>
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">所属APP</label>
                    <div class="layui-input-block">
                        {foreach name="$app_id_list" key='key' item="vo"}
                        <input type="checkbox" name="app_id[{$key}]" title="{$vo}">
                        {/foreach}
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">所属平台</label>
                    <div class="layui-input-block">
                        {foreach name="$platform_list" key='key' item="vo"}
                        <?php if($key > 0){ ?>
                        <input type="checkbox" name="platform[{$key}]" title="{$vo}">
                        <?php } ?>
                        {/foreach}
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">所属类型</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <!-- <option value="0">选译类型</option> -->
                            {foreach name="$typeList" key='key' item="vo"}
                            <option value="{$key}"> {$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">跳转类型</label>
                    <div class="layui-input-block">
                        <select name="link_type">
                            <option value="0">不跳转</option>
                            <option value="1"> webview</option>
                            <option value="2"> app内页</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">跳转连接</label>
                    <div class="layui-input-block">
                        <input type="text" name="link" value="" placeholder="跳转连接或内页映射名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="显示" checked="checked">
                        <input type="radio" name="status" value="0" title="隐藏">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="number" name="sort" value="0" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">越大越前</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">持续时间</label>
                    <div class="layui-input-block">
                        <input type="nubmer" name="duration" value="0" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">以秒为单位</div>
                    </div>
                </div>

                <!-- <div class="layui-form-item">
                    <label class="layui-form-label">语言</label>
                    <div class="layui-input-block">
                        <input type="text" name="lang" value="zh-cn" class="layui-input">
                        <div class="layui-form-mid layui-word-aux" >语言 zh-cn</div>
                    </div>
                </div> -->
                <div class="layui-form-item">
                    <label class="layui-form-label ">选择语言</label>
                    <div class="layui-input-block">
                        <select name="lang" lay-filter='language_code_select' lay-verify="required">
                            <option value="0">请选择语言</option>
                        </select>
                        <input type="text" id="language_code" name="lang_input" value="" placeholder="请输入语言码"
                            class="layui-input">
                    </div>
                </div>






                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    PAGE_EXEC = {

        datas: {
            langs: [],
            lang: ''
        },
        upload: layui.upload,

        getLangs: function (success) {
            var _this = this;
            $.get("{:url('admin/i18n/public_langs')}", function (res) {
                console.log(res)
                if (res.code === 0) {
                    _this.datas.langs = res.data.lists;
                    _this.renderLangs(res.data.lists);
                    if (typeof (success) == "function") {
                        success(res);
                    }
                    form.render();
                    form.on('select(language_code_select)', function (data) {
                        if (data.value == 0 || data.value == -1) {
                            $("#language_code").show();
                        } else {
                            $("#language_code").hide();
                        }
                        console.log(data.value); //得到被选中的值
                        console.log(data.othis); //得到美化后的DOM对象
                    });
                }
            })

        },

        renderLangs: function (listData) {
            var options_s = '<option value="0">请选择语言</option>';
            var options = '';
            var lang = this.datas.lang;
            var hasLang = 0;
            $(listData).each(function (index, el) {
                var selected = el.code == lang ? "selected" : '';
                hasLang = el.code == lang ? 1 : hasLang;
                options += '<option value="' + el.code + '"  ' + selected + '>【' + el.code + "】" + el
                    .name + '</option>';
            });
            var has_select_1 = ''
            if (hasLang) {
                $("#language_code").hide();
            } else {
                has_select_1 = 'selected';
                $("#language_code").show();
            }
            options_s += '<option value="-1" ' + has_select_1 + '>自定义</option>';
            $("#editForm select[name='lang']").html(options_s + options);

        },

        init: function () {
            var _this = this;
            this.getLangs();

            var $thumbInput = $('#editForm').find("input[name=thumb]");
            //普通图片上传
            var uploadInst = this.upload.render({
                elem: '#upload-btn',
                url: "{:url('admin/Uploader/images')}",
                data: {
                    "module": "admin/ads"
                },
                before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        // $('#item-thumb').attr('src', result); //图片链接（base64）
                    });
                },
                done: function (res) {
                    console.log(res);
                    //如果上传失败
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    if (res.code === 0) {
                        layer.msg('上传成功');
                        $('#item-thumb').attr('src', res.data.img_url); //图片链接（base64）
                        $thumbInput.val(res.data.img_url);
                    } else {
                        layer.msg(res.desc);
                    }
                    //上传成功
                },
                error: function () {
                    //演示失败状态，并实现重传
                    var $uploadText = $('#uploadText');
                    var html = '<span style="color: #FF5722;">上传失败,请稍候再试</span>';
                    // html += '<a class="layui-btn layui-btn-xs reUpload">重试</a>';
                    $uploadText.html(html);
                    /*$uploadText.find('.reUpload').on('click', function(){
                        uploadInst.upload();
                    });*/
                }
            });
            $thumbInput.keyup(function (event) {
                /* Act on the event */
                var thumbPath = $thumbInput.val();
                $('#item-thumb').attr('src', thumbPath);
            });
            form.render();
            element.init();
        },




    }


    $(function () {

        PAGE_EXEC.init();

    });
</script>