
<div class="amain-body  " >
    <!--tab标签-->
    <div class="layui-tab layui-tab-brief">

        <div class="layui-tab-content">

                <form class="layui-form  " action="{:url('admin/Ads/edit')}" method="post" style="margin-right:15px;" id="editForm" >


                          <div class="layui-form-item">
                              <label class="layui-form-label">标题</label>
                              <div class="layui-input-block">
                                  <input type="text" name="title" value="{$data.title}" required  lay-verify="required" placeholder="请输入标题" class="layui-input">
                              </div>
                          </div>


                          <div class="layui-form-item">
                              <label class="layui-form-label">缩略图</label>
                              <div class="layui-input-block">
                                <input type="text" name="thumb" value="{$data.thumb}" class="layui-input">
                                <a   class="amain-uploadImgBtn" id="upload-btn">
                                   <img class="layui-upload-img" id="item-thumb" src="{$data.thumb}" >
                                   <div class="text">
                                     <i class="fa fa-upload"></i>上传图片
                                   </div>
                                </a>
                                <p id="uploadText"></p>

                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label class="layui-form-label">所属APP</label>
                              <div class="layui-input-block">
                                {foreach name="$app_id_list" key='key' item="vo"}
                                <input type="checkbox" name="app_id[{$key}]"  title="{$vo}" <?php echo in_array($key,$data['app_id_list']) ? "checked" : ""; ?> >
                                {/foreach}
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label class="layui-form-label">所属平台</label>
                              <div class="layui-input-block">
                                {foreach name="$platform_list" key='key' item="vo"}
                                <?php if($key > 0){ ?>
                                  <input type="checkbox" name="platform[{$key}]" title="{$vo}" <?php echo in_array($key,$data['platform_list']) ? "checked" : ""; ?> >
                                <?php } ?>
                                {/foreach}
                              </div>
                          </div>



                          <div class="layui-form-item">
                              <label class="layui-form-label">所属类型</label>
                              <div class="layui-input-block">
                                <select name="type">
                                    <option value="0">选译类型</option>
                                    {foreach name="$typeList" key='key' item="vo"}
                                    <option value="{$key}" {if condition="$data.type==$key"} selected="selected"{/if}> {$vo}</option>
                                    {/foreach}
                                </select>
                              </div>
                          </div>

                          <div class="layui-form-item">
                              <label class="layui-form-label">跳转类型</label>
                              <div class="layui-input-block">
                                <select name="link_type">
                                    <option value="0" {if condition="$data.link_type == 0"} selected="selected"{/if}>不跳转</option>
                                    <option value="1" {if condition="$data.link_type == 1"} selected="selected"{/if}> webview</option>
                                    <option value="2" {if condition="$data.link_type == 2"} selected="selected"{/if}> app内页</option>
                                </select>
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label class="layui-form-label">跳转连接</label>
                              <div class="layui-input-block">
                                  <input type="text" name="link" value="{$data.link}"  placeholder="跳转连接或内页映射名" class="layui-input">
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label class="layui-form-label">状态</label>
                              <div class="layui-input-block">
                                  <input type="radio" name="status" value="1" title="显示" {if condition="$data.status==1"} checked="checked"{/if}>
                                  <input type="radio" name="status" value="0" title="隐藏" {if condition="$data.status==0"} checked="checked"{/if}>
                              </div>
                          </div>



                          <div class="layui-form-item">
                              <label class="layui-form-label">排序</label>
                              <div class="layui-input-block">
                                  <input type="nubmer" name="sort" value="{$data.sort}" class="layui-input">
                                  <div class="layui-form-mid layui-word-aux" >越大越前</div>
                              </div>
                          </div>






                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$data.id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>

<script>

PAGE_EXEC = {

  upload : layui.upload,
  data: {

  },

  init: function(){
    var _this = this;

      var $thumbInput = $('#editForm').find("input[name=thumb]");
      //普通图片上传
       var uploadInst = this.upload.render({
         elem: '#upload-btn'
         ,url: "{:url('admin/Uploader/images')}"
         ,data: {"module":"admin/ads"}
         ,before: function(obj){
           //预读本地文件示例，不支持ie8
           obj.preview(function(index, file, result){
             // $('#item-thumb').attr('src', result); //图片链接（base64）
           });
         }
         ,done: function(res){
           console.log(res);
           //如果上传失败
           if(res.code > 0){
             return layer.msg('上传失败');
           }
           if(res.code===0){
             layer.msg('上传成功');
             $('#item-thumb').attr('src', res.data.img_url); //图片链接（base64）
             $thumbInput.val(res.data.img_url);
           }else{
             layer.msg(res.desc);
           }
           //上传成功
         }
         ,error: function(){
           //演示失败状态，并实现重传
           var $uploadText = $('#uploadText');
           var html = '<span style="color: #FF5722;">上传失败,请稍候再试</span>';
           // html += '<a class="layui-btn layui-btn-xs reUpload">重试</a>';
           $uploadText.html(html);
           /*$uploadText.find('.reUpload').on('click', function(){
             uploadInst.upload();
           });*/
         }
       });
       $thumbInput.keyup(function(event) {
         /* Act on the event */
         var thumbPath = $thumbInput.val();
         $('#item-thumb').attr('src', thumbPath);
       });
    form.render();
    element.init();
  },



}


$(function() {


    PAGE_EXEC.init();


});
</script>
