<div class=" P-idle-detail">
    <div class="inner detail-isseller-{$data.is_seller}  detail-status-{$data.status}">
        <div class="text-box">
            <div class="time-bar">
                <span class="name">{$data.name} / {$data.loginname}</span>
                <span class="location"> ( <i class="fa fa-map-marker"></i> {$data.location} )</span>
                <span class="date">{$data.post_time}</span>
            </div>
            <h3 class="title">
                {$data.title}
                <?php echo $data['is_delete'] ? '<small class="is_delete">【已删】</small>' : '' ;?>
            </h3>
            <div class="price-bar">
                <span class="price">¥ {$data.price}</span>
                <span class="status"><?php echo isset($status_list[$data['status']]) ? $status_list[$data['status']] : $data['status'] ;?> </span>
            </div>
            <p class="desc">
                {$data.desc|raw|nl2br}
            </p>
            <div class="images">
            {foreach name="data.images" item="vo"}
                <img src='{$vo.path}' />
            {/foreach}
            </div>
        </div>
    </div>

</div>
<div class="modal-bottom-btns-bar">
    <button type="button" class="layui-btn layui-btn-primary " data-dismiss="modal">返回</button>
</div>
<script>
    form.render();
</script>
