<div class="amain-form-wrapper p-cpaDepartment-form">
    <!-- 第一步，查找可添加的工号 -->

    <form class="layui-form form-container" action="{:url('admin/npd.cpaDepartment/add')}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">授权区域</label>
            <div class="layui-input-block J-region-wrapper">
                <input type="hidden" name="department_ids" value="" class="layui-input layui-input-inline " readonly>
                <a onclick="openLayer('{:url('admin/Department/list_dialog',['multi'=>1])}','选择区域/部门');"
                    href="javascript:void(0);" class="layui-btn  layui-btn-primary J-btn-department"
                    data-target="department_ids:id" data-show-target=".J-dept-select-wrapper"
                    data-paramstr='{"default_id":""}'>
                    <i class="fa fa-book"></i> <span>选择区域/部门</span>
                </a>
                <div class="J-dept-select-wrapper"></div>
                <div class="layui-form-mid layui-word-aux">选择后，该部门下的所有用户都可登入npd网站</div>
            </div>
        <div class="blank20"></div>
        <div class="layui-btn-container layui-row">
            <button class="layui-btn layui-btn-lg pull-right btn-submit" lay-submit lay-filter="*"><i class="fa fa-save"></i> 确认保存</button>
        </div>
    </form>

</div>


<script>
FORM_PAGE_EXEC = {
    init: function() {
        var _this = this;
        form.render();
        element.init();
    },
    
};
FORM_PAGE_EXEC.init();

</script>
