
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form form-container" action="{:url('admin/company/edit')}" method="post">

                    <div class="layui-form-item">
                        <label class="layui-form-label">公司名</label>
                        <div class="layui-input-block">
                            <input type="text" name="company_name" value="{$datas.company_name}" required  lay-verify="required" placeholder="请输入公司名称" class="layui-input">
                        </div>
                    </div>
                    
                    <div class="layui-form-item">
                        <label class="layui-form-label">国别</label>
                        <div class="layui-input-block">
                            <input type="text" name="country" value="{$datas.country}" required  lay-verify="required" placeholder="国别" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-block">
                          <textarea name="ad_words" placeholder="请输入内容" class="layui-textarea">{$datas.ad_words}</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">
                            <input type="radio" name="status" value="1" title="显示" {if condition="$datas.status==1"} checked="checked"{/if}>
                            <input type="radio" name="status" value="0" title="隐藏" {if condition="$datas.status==0"} checked="checked"{/if}>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="hidden" name="id" value="{$datas.company_id}">
                            <button class="layui-btn" lay-submit lay-filter="*">更新</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
          form.render();
        </script>
