<div class="amain-form-wrapper">
    <form class="layui-form form-container" action="{:url('admin/npd.user/edit')}" method="post">

        <fieldset class="amain-fieldset layui-elem-field" >
            <legend>基本信息</legend>
            <div class="layui-form-item">
                <label class="layui-form-label">所属站点</label>
                <div class="layui-input-block">
                    {include file="/npd/_components/select_npdSiteId" layVerify="require" props="disabled"/}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号名</label>
                <div class="layui-input-block">
                    <input type="text" name="account" value="{$data.account}" required  lay-verify="required" placeholder="请输入用户名" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">用于登入的账号名</div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" value="" placeholder="（选填）如不修改则留空" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复密码</label>
                <div class="layui-input-block">
                    <input type="password" name="confirm_password" value="" placeholder="（选填）如不修改则留空" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">暱称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickname" value="{$data.nickname}" placeholder="姓名" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" value="{$data.email}" placeholder="邮箱"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-block">
                    <input type="text" name="dept" value="{$data.dept}" placeholder="部门"  class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea type="text" name="remark" placeholder="备注" class="layui-textarea" >{$data.remark}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status" value="1" lay-skin="switch" lay-text="启用|禁用" {if condition="$data.status==1"} checked="checked"{/if}>
                </div>
            </div>
            </fieldset>


        <div class="blank12"></div>


        <div class="blank20"></div>

        <div class="layui-btn-container layui-row">
            <input type="hidden" name="id" value="{$data.id}">
            <button class="layui-btn layui-btn-lg layui-col-xs12" lay-submit lay-filter="*">提交</button>
        </div>

    </form>
</div>

<script>
form.render();
element.init();
</script>
